{:deps
 {io.github.aamedina/rdf
  {:sha     "5d290d40fd2720f0decbe6ea4ed35fdf9678d83f"
   :git/url "https://github.com/aamedina/rdf.git"}}
 :paths ["src/clj" "src/cljc" "classes" "resources"]
 :aliases
 {:dev
  {:extra-deps
   {com.datomic/dev-local
    {:mvn/version "1.0.243"}
    io.github.aamedina/punk.db
    {:sha     "a14acb15e7880d3dd9bbc148112614c413194f69"
     :git/url "https://github.com/aamedina/punk.db.git"}
    com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "0.2.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}
    org.clojure/tools.namespace
    {:mvn/version "1.3.0"}
    org.slf4j/slf4j-simple
    {:mvn/version "1.7.36"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
