{:deps
 {io.github.aamedina/rdf
  {:git/sha "2434778c8a83e895d187ffc2d30b93fcbccf0727"}
  io.github.aamedina/punk.qudt
  {:git/sha "b87eac7c851ed3d870e6b125671187a5294dde6b"}}
 :paths ["src/clj" "src/cljc" "classes" "resources"]
 :aliases
 {:dev
  {:extra-deps
   {com.datomic/dev-local
    {:mvn/version "1.0.243"}
    io.github.aamedina/punk.db
    {:git/sha "0b505f63bdb28d6c664eb152750813b38d11e7ca"}
    com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "0.2.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}
    org.clojure/tools.namespace
    {:mvn/version "1.3.0"}
    org.slf4j/slf4j-simple
    {:mvn/version "1.7.36"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
