{:deps
 {io.github.aamedina/rdf
  {:sha     "4be87367520b88c61939e6788694366ea2a32988"
   :git/url "https://github.com/aamedina/rdf.git"}
  io.github.aamedina/punk.qudt
  {:sha     "7e3c796fdff5c88a9df6ce50f0b4ed19f20c6660"
   :git/url "https://github.com/aamedina/punk.qudt.git"}}
 :paths ["src/clj" "src/cljc" "classes" "resources"]
 :aliases
 {:dev
  {:extra-deps
   {com.datomic/dev-local
    {:mvn/version "1.0.243"}
    io.github.aamedina/punk.db
    {:sha     "2303f5c52c7d290eb2d99ee75476e621ba44226b"
     :git/url "https://github.com/aamedina/punk.db.git"}
    com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "0.2.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}
    org.clojure/tools.namespace
    {:mvn/version "1.3.0"}
    org.slf4j/slf4j-simple
    {:mvn/version "1.7.36"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
