{:vocab {:sc/create-fn   net.wikipunk.lv2.jena/map->Vocabulary
         :boot-ns-prefix "net.wikipunk.rdf."
         :boot-target    "rdf/net/wikipunk/rdf/"
         :boot           [net.wikipunk.boot/rdf
                          net.wikipunk.boot/rdfs
                          net.wikipunk.boot/rdfa
                          net.wikipunk.boot/owl
                          net.wikipunk.boot/jsonld
                          net.wikipunk.boot/jsonschema
                          net.wikipunk.boot/xsd
                          net.wikipunk.boot/skos
                          net.wikipunk.boot/dcterms
                          net.wikipunk.boot/dcam
                          net.wikipunk.boot/foaf
                          net.wikipunk.boot/doap
                          net.wikipunk.boot/schema
                          net.wikipunk.boot/vann
                          net.wikipunk.boot/vs
                          net.wikipunk.boot/prov
                          net.wikipunk.boot/as
                          net.wikipunk.boot/ldp
                          net.wikipunk.boot/rr
                          net.wikipunk.boot/mo
                          net.wikipunk.boot/time
                          net.wikipunk.boot/greg
                          net.wikipunk.boot/sioc
                          net.wikipunk.boot/event
                          net.wikipunk.boot/cc
                          net.wikipunk.boot/sosa
                          net.wikipunk.boot/ssn
                          net.wikipunk.boot/vcard
                          net.wikipunk.boot/ma
                          net.wikipunk.boot/geo
                          net.wikipunk.boot/swrl
                          net.wikipunk.boot/dcat
                          net.wikipunk.boot/dqv
                          net.wikipunk.boot/duv
                          net.wikipunk.boot/oa
                          net.wikipunk.boot/odrl]
         :lv2-ns-prefix  "net.wikipunk.rdf.lv2."
         :lv2-target     "rdf/net/wikipunk/rdf/lv2/"
         :lv2            [net.wikipunk.boot.lv2
                          net.wikipunk.boot.lv2/atom
                          net.wikipunk.boot.lv2/buf-size
                          net.wikipunk.boot.lv2/data-access
                          net.wikipunk.boot.lv2/dynmanifest
                          net.wikipunk.boot.lv2/event
                          net.wikipunk.boot.lv2/instance-access
                          net.wikipunk.boot.lv2/log
                          net.wikipunk.boot.lv2/midi
                          net.wikipunk.boot.lv2/morph
                          net.wikipunk.boot.lv2/options
                          net.wikipunk.boot.lv2/parameters
                          net.wikipunk.boot.lv2/patch
                          net.wikipunk.boot.lv2/port-groups
                          net.wikipunk.boot.lv2/port-props
                          net.wikipunk.boot.lv2/presets
                          net.wikipunk.boot.lv2/resize-port
                          net.wikipunk.boot.lv2/state
                          net.wikipunk.boot.lv2/time
                          net.wikipunk.boot.lv2/ui
                          net.wikipunk.boot.lv2/units
                          net.wikipunk.boot.lv2/uri-map
                          net.wikipunk.boot.lv2/urid
                          net.wikipunk.boot.lv2/worker]}}
