{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :sc/refs      [:dev]
         ;; :ns-prefix    "net.wikipunk.rdf.lv2."
         ;; :target       "src/net/wikipunk/rdf/"
         :boot         [net.wikipunk.lv2.boot/core
                        net.wikipunk.lv2.boot/atom
                        net.wikipunk.lv2.boot/buf-size
                        net.wikipunk.lv2.boot/data-access
                        net.wikipunk.lv2.boot/dynmanifest
                        net.wikipunk.lv2.boot/event
                        net.wikipunk.lv2.boot/instance-access
                        net.wikipunk.lv2.boot/log
                        net.wikipunk.lv2.boot/midi
                        net.wikipunk.lv2.boot/morph
                        net.wikipunk.lv2.boot/options
                        net.wikipunk.lv2.boot/parameters
                        net.wikipunk.lv2.boot/patch
                        net.wikipunk.lv2.boot/port-groups
                        net.wikipunk.lv2.boot/port-props
                        net.wikipunk.lv2.boot/presets
                        net.wikipunk.lv2.boot/resize-port
                        net.wikipunk.lv2.boot/state
                        net.wikipunk.lv2.boot/time
                        net.wikipunk.lv2.boot/ui
                        net.wikipunk.lv2.boot/units
                        net.wikipunk.lv2.boot/uri-map
                        net.wikipunk.lv2.boot/urid
                        net.wikipunk.lv2.boot/worker]}
 :dev   {:sc/create-fn dev/map->Quickstart}}
