^#:rdf{:ns-prefix-map
       {"ui" "http://lv2plug.in/ns/extensions/ui#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "units" "http://lv2plug.in/ns/extensions/units#",
        "atom" "http://lv2plug.in/ns/ext/atom#"}}
[{:rdf/about :atom/frameTime,
  :rdfs/comment "A time stamp in audio frames.",
  :rdfs/label "frame time",
  :rdfs/range :xsd/decimal,
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :atom/Event,
  :rdfs/comment "An atom with a time stamp prefix in a sequence.",
  :atom/cType "LV2_Atom_Event",
  :rdfs/label "Event",
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Path,
  :rdfs/comment "A local file path.",
  :rdfs/label "Path",
  :owl/onDatatype :atom/URI,
  :rdfs/subClassOf :atom/URI,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/supports,
  :rdfs/range :rdfs/Class,
  :rdfs/comment "A supported atom type.",
  :rdfs/label "supports",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :atom/Vector,
  :atom/cType "LV2_Atom_Vector",
  :rdfs/comment
  "A homogeneous sequence of atom bodies with equivalent type and size.",
  :rdfs/label "Vector",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/beatTime,
  :rdfs/comment "A time stamp in beats.",
  :rdfs/label "beat time",
  :rdfs/range :xsd/decimal,
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :atom/childType,
  :rdfs/comment "The type of children in a container.",
  :rdfs/label "child type",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :atom/Sequence,
  :rdfs/comment "A sequence of events.",
  :atom/cType "LV2_Atom_Sequence",
  :rdfs/label "Sequence",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Blank,
  :atom/cType "LV2_Atom_Object",
  :owl/deprecated true,
  :rdfs/comment "An anonymous collection of properties without a URI.",
  :rdfs/label "Blank",
  :rdfs/subClassOf :atom/Object,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Object,
  :atom/cType "LV2_Atom_Object",
  :rdfs/comment "A collection of properties.",
  :rdfs/label "Object",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Long,
  :owl/onDatatype :xsd/long,
  :atom/cType "LV2_Atom_Long",
  :rdfs/comment "A native `int64_t`.",
  :rdfs/label "Long",
  :rdfs/subClassOf :atom/Number,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/atomTransfer,
  :rdfs/comment "A port protocol for transferring atoms.",
  :rdfs/label "atom transfer",
  :rdf/type :ui/PortProtocol}
 {:rdf/about :atom/Literal,
  :atom/cType "LV2_Atom_Literal",
  :rdfs/comment
  "A UTF-8 string literal with optional datatype or language.",
  :rdfs/label "Literal",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Int,
  :owl/onDatatype :xsd/int,
  :atom/cType "LV2_Atom_Int",
  :rdfs/comment "A native `int32_t`.",
  :rdfs/label "Int",
  :rdfs/subClassOf :atom/Number,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/Sound,
  :atom/cType "LV2_Atom_Vector",
  :rdfs/comment
  "A atom:Vector of atom:Float which represents an audio waveform.",
  :rdfs/label "Sound",
  :rdfs/subClassOf :atom/Vector,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/bufferType,
  :rdfs/comment "An atom type that a port may be connected to.",
  :rdfs/label "buffer type",
  :rdfs/range :rdfs/Class,
  :rdfs/domain :atom/AtomPort,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :atom/Chunk,
  :owl/onDatatype :xsd/base64Binary,
  :rdfs/comment "A chunk of memory with undefined contents.",
  :rdfs/label "Chunk",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/URI,
  :rdfs/comment "A URI string.",
  :rdfs/label "URI",
  :owl/onDatatype :xsd/anyURI,
  :rdfs/subClassOf :atom/String,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/URID,
  :atom/cType "LV2_Atom_URID",
  :rdfs/comment "An unsigned 32-bit integer ID for a URI.",
  :rdfs/label "URID",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Property,
  :atom/cType "LV2_Atom_Property",
  :rdfs/comment "A property of an atom:Object.",
  :rdfs/label "Property",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Tuple,
  :rdfs/comment "A sequence of atoms with varying type and size.",
  :rdfs/label "Tuple",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/AtomPort,
  :rdfs/comment "A port which contains an atom:Atom.",
  :rdfs/label "Atom Port",
  :rdfs/subClassOf :lv2/Port,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/eventTransfer,
  :rdfs/comment "A port protocol for transferring events.",
  :rdfs/label "event transfer",
  :rdf/type :ui/PortProtocol}
 {:rdf/about :atom/String,
  :owl/onDatatype :xsd/string,
  :atom/cType "LV2_Atom_String",
  :rdfs/comment "A UTF-8 string.",
  :rdfs/label "String",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/Atom,
  :atom/cType "LV2_Atom",
  :rdfs/comment "Abstract base class for all atoms.",
  :rdfs/label "Atom",
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Double,
  :owl/onDatatype :xsd/double,
  :atom/cType "LV2_Atom_Double",
  :rdfs/comment "A native `double`.",
  :rdfs/label "Double",
  :rdfs/subClassOf :atom/Number,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about #:rdf{:uri "http://lv2plug.in/ns/ext/atom"},
  :owl/imports
  [#:rdf{:uri "http://lv2plug.in/ns/extensions/units"}
   #:rdf{:uri "http://lv2plug.in/ns/extensions/ui"}
   #:rdf{:uri "http://lv2plug.in/ns/lv2core"}],
  :rdfs/comment "A generic value container and several data types.",
  :rdfs/label "LV2 Atom",
  :rdfs/seeAlso
  #:rdf{:uri
        "https://gitlab.com/lv2/lv2/-/raw/master/lv2/atom.lv2/atom.meta.ttl"},
  :rdf/type :owl/Ontology}
 {:rdf/about :atom/Resource,
  :atom/cType "LV2_Atom_Object",
  :owl/deprecated true,
  :rdfs/comment "A named collection of properties with a URI.",
  :rdfs/label "Resource",
  :rdfs/subClassOf :atom/Object,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/Bool,
  :owl/onDatatype :xsd/boolean,
  :atom/cType "LV2_Atom_Bool",
  :rdfs/comment
  "An atom:Int where 0 is false and any other value is true.",
  :rdfs/label "Bool",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :atom/Number,
  :rdfs/comment "Base class for numeric types.",
  :rdfs/label "Number",
  :rdfs/subClassOf :atom/Atom,
  :rdf/type :rdfs/Class}
 {:rdf/about :atom/cType,
  :rdfs/range :lv2/Symbol,
  :rdfs/domain :rdfs/Class,
  :rdfs/comment
  "The C type that describes the binary representation of an Atom type.",
  :rdfs/label "C type",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :atom/Float,
  :owl/onDatatype :xsd/float,
  :atom/cType "LV2_Atom_Float",
  :rdfs/comment "A native `float`.",
  :rdfs/label "Float",
  :rdfs/subClassOf :atom/Number,
  :rdf/type [:rdfs/Datatype :rdfs/Class]}]
