^#:rdf{:ns-prefix-map
       {"bufsz" "http://lv2plug.in/ns/ext/buf-size#",
        "opts" "http://lv2plug.in/ns/ext/options#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#"}}
[{:rdf/about :bufsz/maxBlockLength,
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/comment "Block length has an upper bound.",
  :rdfs/label "maximum block length",
  :rdf/type [:opts/Option :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :bufsz/coarseBlockLength,
  :rdfs/comment
  "Plugin prefers coarse block length without buffer splitting.",
  :rdfs/label "coarse block length",
  :rdf/type :lv2/Feature}
 {:rdf/about "<http://lv2plug.in/ns/ext/buf-size>",
  :owl/imports
  ["<http://lv2plug.in/ns/ext/options>"
   "<http://lv2plug.in/ns/lv2core>"],
  :rdfs/seeAlso
  "<https://gitlab.com/lv2/lv2/-/raw/master/lv2/buf-size.lv2/buf-size.meta.ttl>",
  :rdfs/comment "Access to, and restrictions on, buffer sizes.",
  :rdfs/label "LV2 Buf Size",
  :rdf/type :owl/Ontology}
 {:rdf/about :bufsz/sequenceSize,
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/comment "The maximum size of a sequence, in bytes.",
  :rdfs/label "sequence size",
  :rdf/type [:opts/Option :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :bufsz/minBlockLength,
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/comment "Block length has a lower bound.",
  :rdfs/label "minimum block length",
  :rdf/type [:opts/Option :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :bufsz/fixedBlockLength,
  :rdfs/comment "Block length never changes.",
  :rdfs/label "fixed block length",
  :rdf/type :lv2/Feature}
 {:rdf/about :bufsz/powerOf2BlockLength,
  :rdfs/comment "Block length is a power of 2.",
  :rdfs/label "power of 2 block length",
  :rdf/type :lv2/Feature}
 {:rdf/about :bufsz/nominalBlockLength,
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/comment
  "Typical block length that will most often be processed.",
  :rdfs/label "nominal block length",
  :rdf/type [:opts/Option :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :bufsz/boundedBlockLength,
  :rdfs/comment "Block length has lower and upper bounds.",
  :rdfs/label "bounded block length",
  :rdf/type :lv2/Feature}]
