^#:rdf{:ns-prefix-map
       {"lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "da" "http://lv2plug.in/ns/ext/data-access#"}}
[{:rdf/about #:rdf{:uri "http://lv2plug.in/ns/ext/data-access"},
  :rdfs/seeAlso
  #:rdf{:uri
        "https://gitlab.com/lv2/lv2/-/raw/master/lv2/data-access.lv2/data-access.meta.ttl"},
  :rdfs/comment
  "A feature that provides access to plugin extension data.",
  :rdfs/label "data access",
  :rdf/type :lv2/Feature}]
