^#:rdf{:ns-prefix-map
       {"dcterms" "http://purl.org/dc/terms/",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[{:rdf/about :dcterms/W3CDTF,
  :rdfs/seeAlso "<http://www.w3.org/TR/NOTE-datetime>",
  :rdfs/label #voc/lstr "W3C-DTF@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "The set of dates and times constructed according to the W3C Date and Time Formats Specification.@en-us",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A point or period of time associated with an event in the lifecycle of the resource.@en-us",
  :dcterms/description
  #voc/lstr "Date may be used to express temporal information at any level of granularity.  Recommended best practice is to use an encoding scheme, such as the W3CDTF profile of ISO 8601 [W3CDTF].@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/requires,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "requires@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is required by the described resource to support its function, delivery, or coherence.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/alternative,
  :rdfs/subPropertyOf :dcterms/title,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "alternative title@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "An alternative name for the resource.@en-us",
  :dcterms/description
  #voc/lstr "The distinction between titles and alternative titles is application-specific.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/hasPart,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "has part@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is included either physically or logically in the described resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/dateSubmitted,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date submitted@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "Date of submission of the resource.@en-us",
  :dcterms/description
  #voc/lstr "Examples of resources to which a Date Submitted may be relevant are a thesis (submitted to a university department) or an article (submitted to a journal).@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/URI,
  :rdfs/seeAlso "<http://www.ietf.org/rfc/rfc3986.txt>",
  :rdfs/label #voc/lstr "URI@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "The set of identifiers constructed according to the generic syntax for Uniform Resource Identifiers as specified by the Internet Engineering Task Force.@en-us",
  :rdf/type :rdfs/Datatype}
 {:rdf/type :rdf/Property,
  :owl/equivalentProperty "<http://xmlns.com/foaf/0.1/maker>",
  :rdfs/subPropertyOf :dcterms/contributor,
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/label #voc/lstr "creator@en-us",
  :rdf/about :dcterms/creator,
  :rdfs/comment
  #voc/lstr "An entity primarily responsible for making the resource.@en-us",
  :dcterms/description
  #voc/lstr "Examples of a Creator include a person, an organization, or a service.@en-us",
  :rdfs/range :dcterms/Agent}
 {:rdf/about :dcterms/MediaTypeOrExtent,
  :rdfs/label #voc/lstr "Media Type or Extent@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A media type or extent.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/issued,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date issued@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "Date of formal issuance (e.g., publication) of the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/available,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date available@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "Date (often a range) that the resource became or will become available.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/modified,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date modified@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "Date on which the resource was changed.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/created,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date created@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "Date of creation of the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/conformsTo,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/range :dcterms/Standard,
  :rdfs/label #voc/lstr "conforms to@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "An established standard to which the described resource conforms.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/references,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "references@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is referenced, cited, or otherwise pointed to by the described resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/Agent,
  :rdfs/label #voc/lstr "Agent@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A resource that acts or has the power to act.@en-us",
  :dcterms/description
  #voc/lstr "Examples of Agent include person, organization, and software agent.@en-us",
  :rdf/type [:rdfs/Class :dcterms/AgentClass]}
 {:rdf/about :dcterms/isVersionOf,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "is version of@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource of which the described resource is a version, edition, or adaptation.@en-us",
  :dcterms/description
  #voc/lstr "Changes in version imply substantive changes in content rather than differences in format.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/rightsHolder,
  :rdfs/range :dcterms/Agent,
  :rdfs/label #voc/lstr "rights holder@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A person or organization owning or managing rights over the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/abstract,
  :rdfs/subPropertyOf :dcterms/description,
  :rdfs/label #voc/lstr "Abstract@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A summary of the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/license,
  :rdfs/subPropertyOf :dcterms/rights,
  :rdfs/range :dcterms/LicenseDocument,
  :rdfs/label #voc/lstr "license@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A legal document giving official permission to do something with the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/isRequiredBy,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "is required by@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that requires the described resource to support its function, delivery, or coherence.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about "<http://purl.org/dc/terms/>",
  :rdfs/comment
  "This version of the DCMI Terms vocabulary has been heavily trimmed for LV2.",
  :dcterms/title #voc/lstr "DCMI Metadata Terms@en-us",
  :dcterms/modified "2010-10-11",
  :rdf/type :owl/Ontology}
 {:rdf/about :dcterms/replaces,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "replaces@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is supplanted, displaced, or superseded by the described resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/MediaType,
  :rdfs/subClassOf :dcterms/MediaTypeOrExtent,
  :rdfs/label #voc/lstr "Media Type@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A file format or physical medium.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/hasVersion,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "has version@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is a version, edition, or adaptation of the described resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/Standard,
  :rdfs/label #voc/lstr "Standard@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A basis for comparison; a reference point against which other things can be evaluated.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/publisher,
  :rdfs/range :dcterms/Agent,
  :rdfs/label #voc/lstr "publisher@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "An entity responsible for making the resource available.@en-us",
  :dcterms/description
  #voc/lstr "Examples of a Publisher include a person, an organization, or a service.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/relation,
  :rdfs/label #voc/lstr "relation@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A related resource.@en-us",
  :dcterms/description
  #voc/lstr "Recommended best practice is to identify the related resource by means of a string conforming to a formal identification system. @en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/LicenseDocument,
  :rdfs/subClassOf :dcterms/RightsStatement,
  :rdfs/label #voc/lstr "License Document@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A legal document giving official permission to do something with a Resource.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/description,
  :rdfs/label #voc/lstr "description@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "An account of the resource.@en-us",
  :dcterms/description
  #voc/lstr "Description may include but is not limited to: an abstract, a table of contents, a graphical representation, or a free-text account of the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/contributor,
  :rdfs/range :dcterms/Agent,
  :rdfs/label #voc/lstr "contributor@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "An entity responsible for making contributions to the resource.@en-us",
  :dcterms/description
  #voc/lstr "Examples of a Contributor include a person, an organization, or a service.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/isReferencedBy,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "is referenced by@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that references, cites, or otherwise points to the described resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/RightsStatement,
  :rdfs/label #voc/lstr "Rights Statement@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A statement about the intellectual property rights (IPR) held in or over a Resource, a legal document giving official permission to do something with a resource, or a statement about access rights.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/isFormatOf,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "is format of@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is substantially the same as the described resource, but in another format.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/language,
  :rdfs/range :dcterms/LinguisticSystem,
  :rdfs/label #voc/lstr "language@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A language of the resource.@en-us",
  :dcterms/description
  #voc/lstr "Recommended best practice is to use a controlled vocabulary such as RFC 4646.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/title,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "title@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A name given to the resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/dateCopyrighted,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date copyrighted@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "Date of copyright.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/rights,
  :rdfs/range :dcterms/RightsStatement,
  :rdfs/label #voc/lstr "rights@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "Information about rights held in and over the resource.@en-us",
  :dcterms/description
  #voc/lstr "Typically, rights information includes a statement about various property rights associated with the resource, including intellectual property rights.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/format,
  :rdfs/range :dcterms/MediaTypeOrExtent,
  :rdfs/label #voc/lstr "format@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "The file format, physical medium, or dimensions of the resource.@en-us",
  :dcterms/description
  #voc/lstr "Examples of dimensions include size and duration. Recommended best practice is to use a controlled vocabulary such as the list of Internet Media Types [MIME].@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/dateAccepted,
  :rdfs/subPropertyOf :dcterms/date,
  :rdfs/range :rdfs/Literal,
  :rdfs/label #voc/lstr "date accepted@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "Date of acceptance of the resource.@en-us",
  :dcterms/description
  #voc/lstr "Examples of resources to which a Date Accepted may be relevant are a thesis (accepted by a university department) or an article (accepted by a journal).@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/isPartOf,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "is part of@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource in which the described resource is physically or logically included.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/LinguisticSystem,
  :rdfs/label #voc/lstr "Linguistic System@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A system of signs, symbols, sounds, gestures, or rules used in communication.@en-us",
  :dcterms/description
  #voc/lstr "Examples include written, spoken, sign, and computer languages.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/AgentClass,
  :rdfs/label #voc/lstr "Agent Class@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment #voc/lstr "A group of agents.@en-us",
  :dcterms/description
  #voc/lstr "Examples of Agent Class include groups seen as classes, such as students, women, charities, lecturers.@en-us",
  :rdf/type :rdfs/Class}
 {:rdf/about :dcterms/isReplacedBy,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "is replaced by@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that supplants, displaces, or supersedes the described resource.@en-us",
  :rdf/type :rdf/Property}
 {:rdf/about :dcterms/hasFormat,
  :rdfs/subPropertyOf :dcterms/relation,
  :rdfs/label #voc/lstr "has format@en-us",
  :rdfs/isDefinedBy "<http://purl.org/dc/terms/>",
  :rdfs/comment
  #voc/lstr "A related resource that is substantially the same as the pre-existing described resource, but in another format.@en-us",
  :rdf/type :rdf/Property}]
