^#:rdf{:ns-prefix-map
       {"doap" "http://usefulinc.com/ns/doap#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "dcterms" "http://purl.org/dc/terms/",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "foaf" "http://xmlns.com/foaf/0.1/"}}
[{:rdf/about :doap/revision,
  :rdfs/comment
  [#voc/lstr "Revision identifier of a software release.@en"
   #voc/lstr "Indentificador de la versión de un release de software.@es"
   #voc/lstr "Identifikátor zpřístupněné revize softwaru.@cs"
   #voc/lstr "Versionsidentifikator eines Software-Releases.@de"
   #voc/lstr "Identifiant de révision d'une release du programme.@fr"],
  :rdfs/label
  [#voc/lstr "Version@de"
   #voc/lstr "revision@en"
   #voc/lstr "révision@fr"
   #voc/lstr "versión@es"
   #voc/lstr "verze@cs"],
  :rdfs/domain :doap/Version,
  :rdf/type [:rdf/Property :owl/DatatypeProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/download-mirror,
  :rdfs/label
  [#voc/lstr "zrcadlo stránky pro stažení@cs"
   #voc/lstr "miroir pour le téléchargement@fr"
   #voc/lstr "download mirror@en"
   #voc/lstr "Spiegel der Seite zum Herunterladen@de"
   #voc/lstr "mirror de descarga@es"],
  :rdfs/domain :doap/Project,
  :rdfs/comment
  [#voc/lstr "Mirror of software download web page.@en"
   #voc/lstr "Spiegel der Seite von die Projekt-Software heruntergeladen werden kann.@de"
   #voc/lstr "Zrcadlo stránky pro stažení softwaru.@cs"
   #voc/lstr "Miroir de la page de téléchargement du programme.@fr"
   #voc/lstr "Mirror de la página web de descarga.@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:rdf/Property :owl/ObjectProperty]}
 {:rdf/about :doap/translator,
  :rdfs/label
  [#voc/lstr "traductor@es"
   #voc/lstr "translator@en"
   #voc/lstr "Übersetzer@de"
   #voc/lstr "traducteur@fr"
   #voc/lstr "překladatel@cs"],
  :rdfs/range :foaf/Person,
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/comment
  [#voc/lstr "Proveedor de traducciones al proyecto.@es"
   #voc/lstr "Mitarbeiter an den Übersetzungen eines Projektes.@de"
   #voc/lstr "Contributor of translations to the project.@en"
   #voc/lstr "Collaborateur à la traduction du projet.@fr"
   #voc/lstr "Spoluautor překladu projektu.@cs"],
  :rdfs/domain :doap/Project,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/Specification,
  :rdfs/label #voc/lstr "Specification@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/comment
  #voc/lstr "A specification of a system's aspects, technical or otherwise.@en",
  :rdf/type :rdfs/Class}
 {:rdf/about :doap/BazaarBranch,
  :rdfs/subClassOf :doap/Repository,
  :rdfs/label #voc/lstr "Bazaar Branch@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/comment #voc/lstr "Bazaar source code branch.@en",
  :rdf/type :rdfs/Class}
 {:rdf/about :doap/language,
  :rdfs/label #voc/lstr "language@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment
  #voc/lstr "ISO language code a project has been translated into@en",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :doap/maintainer,
  :rdfs/comment
  [#voc/lstr "Správce projektu, vedoucí projektu.@cs"
   #voc/lstr "Développeur principal d'un projet, un meneur du projet.@fr"
   #voc/lstr "Hauptentwickler eines Projektes, der Projektleiter@de"
   #voc/lstr "Desarrollador principal de un proyecto, un líder de proyecto.@es"
   #voc/lstr "Maintainer of a project, a project leader.@en"],
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/label
  [#voc/lstr "Projektverantwortlicher@de"
   #voc/lstr "développeur principal@fr"
   #voc/lstr "správce@cs"
   #voc/lstr "maintainer@en"
   #voc/lstr "desarrollador principal@es"],
  :rdfs/range :foaf/Person,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/license,
  :rdf/type :rdf/Property,
  :rdfs/comment
  [#voc/lstr "L'URI d'une description RDF de la licence sous laquelle le programme est distribué.@fr"
   #voc/lstr "El URI de una descripción RDF de la licencia bajo la cuál se distribuye el software.@es"
   #voc/lstr "Die URI einer RDF-Beschreibung einer Lizenz unter der die Software herausgegeben wird.@de"
   #voc/lstr "URI adresa RDF popisu licence, pod kterou je software distribuován.@cs"
   #voc/lstr "The URI of an RDF description of the license the software is distributed under.@en"],
  :rdfs/label
  [#voc/lstr "Lizenz@de"
   #voc/lstr "licence@cs"
   #voc/lstr "licence@fr"
   #voc/lstr "license@en"
   #voc/lstr "licencia@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/file-release,
  :rdfs/label
  [#voc/lstr "soubor revize@cs" #voc/lstr "file-release@en"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Version,
  :rdfs/comment
  [#voc/lstr "URI of download associated with this release.@en"
   #voc/lstr "URI adresa stažení asociované s revizí.@cs"],
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :doap/location,
  :rdfs/label
  [#voc/lstr "repository location@en"
   #voc/lstr "umístění úložiště@cs"
   #voc/lstr "lugar del respositorio@es"
   #voc/lstr "emplacement du dépôt@fr"
   #voc/lstr "Repository Lokation@de"],
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/comment
  [#voc/lstr "Lokation eines Repositorys.@de"
   #voc/lstr "Location of a repository.@en"
   #voc/lstr "lugar de un repositorio.@es"
   #voc/lstr "Emplacement d'un dépôt.@fr"
   #voc/lstr "Umístění úložiště.@cs"],
  :rdfs/domain :doap/Repository,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 #:rdf{:about _03efd39ae95364dc5dc06334bf6da02f,
       :rest _a55d9d0881e7e0da3f019e4af4cca2db,
       :first :doap/CVSRepository}
 {:rdf/about :doap/old-homepage,
  :rdfs/label
  [#voc/lstr "stará domovská stránka@cs"
   #voc/lstr "ancienne page web@fr"
   #voc/lstr "Alte Homepage@de"
   #voc/lstr "old homepage@en"
   #voc/lstr "página web antigua@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:owl/InverseFunctionalProperty :rdf/Property],
  :rdfs/subPropertyOf :foaf/homepage,
  :rdfs/domain :doap/Project,
  :rdfs/comment
  [#voc/lstr "URL adresa předešlé domovské stránky projektu asociované s právě jedním projektem.@cs"
   #voc/lstr "URL of a project's past homepage,\n\t\tassociated with exactly one project.@en"
   #voc/lstr "L'URL d'une ancienne page web d'un\n\t\tprojet, associée avec un unique projet.@fr"
   #voc/lstr "URL der letzten Projekt-Homepage,\n\t\tverbunden mit genau einem Projekt.@de"
   #voc/lstr "El URL de la antigua página de un proyecto,\n\t\tasociada con exactamente un proyecto.@es"]}
 {:rdf/about :doap/bug-database,
  :rdfs/label
  [#voc/lstr "databáze chyb@cs"
   #voc/lstr "suivi des bugs@fr"
   #voc/lstr "Fehlerdatenbank@de"
   #voc/lstr "bug database@en"
   #voc/lstr "base de datos de bugs@es"],
  :rdfs/comment
  [#voc/lstr "Suivi des bugs pour un projet.@fr"
   #voc/lstr "Bug tracker for a project.@en"
   #voc/lstr "Fehlerdatenbank eines Projektes.@de"
   #voc/lstr "Bug tracker para un proyecto.@es"
   #voc/lstr "Správa chyb projektu.@cs"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/BKRepository,
  :rdfs/comment
  [#voc/lstr "Dépôt BitKeeper du code source.@fr"
   #voc/lstr "Úložiště zdrojových kódů BitKeeper.@cs"
   #voc/lstr "BitKeeper Quellcode-Versionierungssystem.@de"
   #voc/lstr "Repositorio BitKeeper del código fuente.@es"
   #voc/lstr "BitKeeper source code repository.@en"],
  :rdf/type [:rdfs/Class :owl/Class],
  :rdfs/label
  [#voc/lstr "BitKeeper Repository@de"
   #voc/lstr "BitKeeper Repository@en"
   #voc/lstr "Dépôt BitKeeper@fr"
   #voc/lstr "Úložiště BitKeeper@cs"
   #voc/lstr "Repositorio BitKeeper@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/subClassOf :doap/Repository}
 {:rdf/about :doap/platform,
  :rdfs/label #voc/lstr "platform@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain [:doap/Version :doap/Project],
  :rdfs/comment
  #voc/lstr "Indicator of software platform (non-OS specific), e.g. Java, Firefox, ECMA CLR@en",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :doap/description,
  :rdfs/comment
  [#voc/lstr "Čistě textový, 2 až 4 věty dlouhý popis projektu.@cs"
   #voc/lstr "Texte descriptif d'un projet, long de 2 à 4 phrases.@fr"
   #voc/lstr "Descripción en texto plano de un proyecto, de 2 a 4 enunciados de longitud.@es"
   #voc/lstr "Beschreibung eines Projekts als einfacher Text mit der Länge von 2 bis 4 Sätzen.@de"
   #voc/lstr "Plain text description of a project, of 2-4 sentences in length.@en"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/label
  [#voc/lstr "descripción@es"
   #voc/lstr "popis@cs"
   #voc/lstr "description@fr"
   #voc/lstr "description@en"
   #voc/lstr "Beschreibung@de"],
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :doap/implements,
  :rdfs/range :doap/Specification,
  :rdfs/label #voc/lstr "Implements specification@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment
  #voc/lstr "A specification that a project implements. Could be a standard, API or legally defined level of conformance.@en",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :doap/wiki,
  :rdfs/comment
  [#voc/lstr "L'URL du Wiki pour la discussion collaborative sur le projet.@fr"
   #voc/lstr "URL of Wiki for collaborative discussion of project.@en"
   #voc/lstr "Wiki-URL für die kollaborative Dikussion eines Projektes.@de"
   #voc/lstr "URL adresa wiki projektu pro společné diskuse.@cs"
   #voc/lstr "URL del Wiki para discusión colaborativa del proyecto.@es"],
  :rdfs/label
  [#voc/lstr "Wiki@de"
   #voc/lstr "wiki@fr"
   #voc/lstr "wiki@es"
   #voc/lstr "wiki@en"
   #voc/lstr "wiki@cs"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/Project,
  :rdf/type :rdfs/Class,
  :rdfs/label
  [#voc/lstr "Proyecto@es"
   #voc/lstr "Projet@fr"
   #voc/lstr "Project@en"
   #voc/lstr "Projekt@cs"
   #voc/lstr "Prijekt@de"],
  :rdfs/comment
  [#voc/lstr "Projekt.@cs"
   #voc/lstr "Un proyecto.@es"
   #voc/lstr "Ein Projekt.@de"
   #voc/lstr "Un projet.@fr"
   #voc/lstr "A project.@en"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/subClassOf :foaf/Project}
 {:rdf/about :doap/helper,
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/range :foaf/Person,
  :rdfs/label
  [#voc/lstr "helper@en"
   #voc/lstr "collaborateur@fr"
   #voc/lstr "colaborador@es"
   #voc/lstr "Helfer@de"
   #voc/lstr "spoluautor@cs"],
  :rdfs/comment
  [#voc/lstr "Spoluautor projektu.@cs"
   #voc/lstr "Projekt-Mitarbeiter.@de"
   #voc/lstr "Collaborateur au projet.@fr"
   #voc/lstr "Project contributor.@en"
   #voc/lstr "Colaborador del proyecto.@es"],
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/Version,
  :rdfs/comment
  [#voc/lstr "Información sobre la versión de un release del proyecto.@es"
   #voc/lstr "Détails sur une version d'une realease d'un projet.@fr"
   #voc/lstr "Informace o uvolněné verzi projektu.@cs"
   #voc/lstr "Version information of a project release.@en"
   #voc/lstr "Versionsinformation eines Projekt Releases.@de"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type :rdfs/Class,
  :rdfs/label
  [#voc/lstr "Version@en"
   #voc/lstr "Version@de"
   #voc/lstr "Version@fr"
   #voc/lstr "Verze@cs"
   #voc/lstr "Versión@es"]}
 {:rdf/about :doap/homepage,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/subPropertyOf :foaf/homepage,
  :rdfs/label
  [#voc/lstr "página web@es"
   #voc/lstr "Homepage@de"
   #voc/lstr "homepage@en"
   #voc/lstr "domovská stránka@cs"
   #voc/lstr "page web@fr"],
  :rdfs/comment
  [#voc/lstr "El URL de la página de un proyecto,\n\t\tasociada con exactamente un proyecto.@es"
   #voc/lstr "URL of a project's homepage,\n\t\tassociated with exactly one project.@en"
   #voc/lstr "URL der Projekt-Homepage,\n\t\tverbunden mit genau einem Projekt.@de"
   #voc/lstr "L'URL de la page web d'un projet,\n\t\tassociée avec un unique projet.@fr"
   #voc/lstr "URL adresa domovské stránky projektu asociované s právě jedním projektem.@cs"],
  :rdfs/domain :doap/Project,
  :rdf/type [:owl/InverseFunctionalProperty :rdf/Property]}
 #:rdf{:about _a55d9d0881e7e0da3f019e4af4cca2db,
       :rest _08900f43b27c4b1effb2736703e5cc00,
       :first :doap/ArchRepository}
 {:rdf/about :doap/service-endpoint,
  :rdfs/label #voc/lstr "service endpoint@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment
  #voc/lstr "The URI of a web service endpoint where software as a service may be accessed@en",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 #:rdf{:about _08900f43b27c4b1effb2736703e5cc00,
       :rest :rdf/nil,
       :first :doap/BKRepository}
 {:rdf/about :doap/programming-language,
  :rdfs/comment
  [#voc/lstr "Programming language a project is implemented in or intended for use with.@en"
   #voc/lstr "Lenguaje de programación en el que un proyecto es implementado o con el cuál pretende usarse.@es"
   #voc/lstr "Programmiersprache in der ein Projekt implementiert ist oder intendiert wird zu benutzen.@de"
   #voc/lstr "Langage de programmation avec lequel un projet est implémenté,\n\t\tou avec lequel il est prévu de l'utiliser.@fr"
   #voc/lstr "Programovací jazyk, ve kterém je projekt implementován nebo pro který je zamýšlen k použití.@cs"],
  :rdf/type [:owl/DatatypeProperty :rdf/Property],
  :rdfs/label
  [#voc/lstr "programovací jazyk@cs"
   #voc/lstr "langage de programmation@fr"
   #voc/lstr "programming language@en"
   #voc/lstr "lenguaje de programación@es"
   #voc/lstr "Programmiersprache@de"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/module,
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/label
  [#voc/lstr "module@fr"
   #voc/lstr "module@en"
   #voc/lstr "modul@cs"
   #voc/lstr "Modul@de"
   #voc/lstr "módulo@es"],
  :rdfs/comment
  [#voc/lstr "Nom du module d'un dépôt Subversion, CVS, BitKeeper ou Arch.@fr"
   #voc/lstr "Modul-Name eines Subversion, CVS, BitKeeper oder Arch Repositorys.@de"
   #voc/lstr "Jméno modulu v CVS, BitKeeper nebo Arch úložišti.@cs"
   #voc/lstr "Module name of a Subversion, CVS, BitKeeper or Arch repository.@en"
   #voc/lstr "Nombre del módulo de un repositorio Subversion, CVS, BitKeeper o Arch.@es"],
  :rdfs/domain _8b36c86497493b86fe6ba7b940da8009,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/name,
  :rdfs/label
  [#voc/lstr "nombre@es"
   #voc/lstr "nom@fr"
   #voc/lstr "Name@de"
   #voc/lstr "name@en"
   #voc/lstr "jméno@cs"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:rdf/Property :owl/AnnotationProperty],
  :rdfs/comment
  [#voc/lstr "A name of something.@en"
   #voc/lstr "Der Name von Irgendwas@de"
   #voc/lstr "El nombre de algo.@es"
   #voc/lstr "Jméno něčeho.@cs"
   #voc/lstr "Le nom de quelque chose.@fr"],
  :rdfs/subPropertyOf :rdfs/label}
 {:rdf/about :doap/SVNRepository,
  :rdfs/label
  [#voc/lstr "Dépôt Subversion@fr"
   #voc/lstr "Úložiště Subversion@cs"
   #voc/lstr "Subversion Repository@en"
   #voc/lstr "Subversion Repository@de"
   #voc/lstr "Repositorio Subversion@es"],
  :rdfs/subClassOf :doap/Repository,
  :rdfs/comment
  [#voc/lstr "Subversion source code repository.@en"
   #voc/lstr "Úložiště zdrojových kódů Subversion.@cs"
   #voc/lstr "Dépôt Subversion du code source.@fr"
   #voc/lstr "Subversion Quellcode-Versionierungssystem.@de"
   #voc/lstr "Repositorio Subversion del código fuente.@es"],
  :rdf/type :rdfs/Class,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/Repository,
  :rdfs/label
  [#voc/lstr "Úložiště@cs"
   #voc/lstr "Repository@en"
   #voc/lstr "Repository@de"
   #voc/lstr "Dépôt@fr"
   #voc/lstr "Repositorio@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/comment
  [#voc/lstr "Source code repository.@en"
   #voc/lstr "Dépôt du code source.@fr"
   #voc/lstr "Quellcode-Versionierungssystem.@de"
   #voc/lstr "Úložiště zdrojových kódů.@cs"
   #voc/lstr "Repositorio del código fuente.@es"],
  :rdf/type :rdfs/Class}
 {:rdf/about :doap/repository,
  :rdfs/comment
  [#voc/lstr "Repositorio del código fuente.@es"
   #voc/lstr "Source code repository.@en"
   #voc/lstr "Úložiště zdrojových kódů.@cs"
   #voc/lstr "Dépôt du code source.@fr"
   #voc/lstr "Quellcode-Versionierungssystem.@de"],
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/label
  [#voc/lstr "repository@en"
   #voc/lstr "repositorio@es"
   #voc/lstr "dépôt@fr"
   #voc/lstr "Repository@de"
   #voc/lstr "úložiště@cs"],
  :rdfs/range :doap/Repository,
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/GitBranch,
  :rdfs/subClassOf :doap/Repository,
  :rdfs/label #voc/lstr "Git Branch@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/comment #voc/lstr "Git source code branch.@en",
  :rdf/type :rdfs/Class}
 {:rdf/about :doap/download-page,
  :rdfs/label
  [#voc/lstr "stránka pro stažení@cs"
   #voc/lstr "page de téléchargement@fr"
   #voc/lstr "Seite zum Herunterladen@de"
   #voc/lstr "download page@en"
   #voc/lstr "página de descarga@es"],
  :rdfs/comment
  [#voc/lstr "Web-Seite von der die Projekt-Software heruntergeladen werden kann.@de"
   #voc/lstr "Webová stránka, na které lze stáhnout projektový software.@cs"
   #voc/lstr "Web page from which the project software can be downloaded.@en"
   #voc/lstr "Page web à partir de laquelle on peut télécharger le programme.@fr"
   #voc/lstr "Página web de la cuál se puede bajar el software.@es"],
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/browse,
  :rdfs/label
  [#voc/lstr "browse@de"
   #voc/lstr "navegar@es"
   #voc/lstr "visualiser@fr"
   #voc/lstr "prohlížeč@cs"
   #voc/lstr "browse@en"],
  :rdfs/comment
  [#voc/lstr "Webové rozhraní pro prohlížení úložiště.@cs"
   #voc/lstr "Web browser interface to repository.@en"
   #voc/lstr "Interface web au dépôt.@fr"
   #voc/lstr "Interface web del repositorio.@es"
   #voc/lstr "Web-Browser Interface für das Repository.@de"],
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Repository}
 {:rdf/about :doap/HgRepository,
  :rdfs/subClassOf :doap/Repository,
  :rdfs/label #voc/lstr "Mercurial Repository@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/comment #voc/lstr "Mercurial source code repository.@en",
  :rdf/type :rdfs/Class}
 {:rdf/about :doap/documenter,
  :rdfs/comment
  [#voc/lstr "Proveedor de documentación para el proyecto.@es"
   #voc/lstr "Collaborateur à la documentation du projet.@fr"
   #voc/lstr "Spoluautor dokumentace projektu.@cs"
   #voc/lstr "Contributor of documentation to the project.@en"
   #voc/lstr "Mitarbeiter an der Dokumentation eines Projektes.@de"],
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/label
  [#voc/lstr "documenter@en"
   #voc/lstr "dokumentarista@cs"
   #voc/lstr "Dokumentator@de"
   #voc/lstr "escritor de ayuda@es"
   #voc/lstr "rédacteur de l'aide@fr"],
  :rdfs/range :foaf/Person,
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/vendor,
  :rdfs/range :foaf/Organization,
  :rdfs/label #voc/lstr "vendor@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment
  #voc/lstr "Vendor organization: commercial, free or otherwise@en",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about _87c48c3ec4628cc810e48c79784e508a,
  :foaf/name "Edd Dumbill",
  :foaf/mbox "mailto:edd@usefulinc.com",
  :rdf/type :foaf/Person}
 {:rdf/about :doap/DarcsRepository,
  :rdfs/subClassOf :doap/Repository,
  :rdfs/label
  [#voc/lstr "darcs Repository@en"
   #voc/lstr "Repositorio darcs@es"
   #voc/lstr "Dépôt darcs@fr"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/comment
  [#voc/lstr "darcs source code repository.@en"
   #voc/lstr "Repositorio darcs del código fuente.@es"
   #voc/lstr "Dépôt darcs du code source.@fr"],
  :rdf/type :rdfs/Class}
 {:rdf/about :doap/audience,
  :rdfs/label #voc/lstr "audience@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment #voc/lstr "Description of target user base@en",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :doap/os,
  :rdfs/label
  [#voc/lstr "operační systém@cs"
   #voc/lstr "système d'exploitation@fr"
   #voc/lstr "Betriebssystem@de"
   #voc/lstr "sistema operativo@es"
   #voc/lstr "operating system@en"],
  :rdfs/comment
  [#voc/lstr "Système d'exploitation auquel est limité le projet. Omettez cette propriété si le\n\t\tprojet n'est pas limité à un système d'exploitation.@fr"
   #voc/lstr "Sistema opertivo al cuál está limitado el proyecto.  Omita esta propiedad si el proyecto no es específico\n\t\tde un sistema opertaivo en particular.@es"
   #voc/lstr "Betriebssystem auf dem das Projekt eingesetzt werden kann. Diese Eigenschaft kann ausgelassen werden, wenn das Projekt nicht BS-spezifisch ist.@de"
   #voc/lstr "Operační systém, na jehož použití je projekt limitován. Vynechejte tuto vlastnost, pokud je projekt nezávislý na operačním systému.@cs"
   #voc/lstr "Operating system that a project is limited to.  Omit this property if the project is not OS-specific.@en"],
  :rdf/type [:rdf/Property :owl/DatatypeProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain [:doap/Project :doap/Version]}
 {:rdf/about :doap/shortdesc,
  :rdfs/label
  [#voc/lstr "Kurzbeschreibung@de"
   #voc/lstr "description courte@fr"
   #voc/lstr "descripción corta@es"
   #voc/lstr "krátký popis@cs"
   #voc/lstr "short description@en"],
  :rdfs/comment
  [#voc/lstr "Descripción corta (8 o 9 palabras) en texto plano de un proyecto.@es"
   #voc/lstr "Short (8 or 9 words) plain text description of a project.@en"
   #voc/lstr "Krátký (8 nebo 9 slov) čistě textový popis projektu.@cs"
   #voc/lstr "Kurzbeschreibung (8 oder 9 Wörter) eines Projects als einfacher Text.@de"
   #voc/lstr "Texte descriptif concis (8 ou 9 mots) d'un projet.@fr"],
  :rdf/type [:rdf/Property :owl/DatatypeProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/screenshots,
  :rdfs/domain :doap/Project,
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/label
  [#voc/lstr "snímek obrazovky@cs"
   #voc/lstr "Screenshots@de"
   #voc/lstr "screenshots@en"
   #voc/lstr "captures d'écran@fr"
   #voc/lstr "capturas de pantalla@es"],
  :rdfs/comment
  [#voc/lstr "Web page with screenshots of project.@en"
   #voc/lstr "Página web con capturas de pantalla del proyecto.@es"
   #voc/lstr "Page web avec des captures d'écran du projet.@fr"
   #voc/lstr "Webová stránka projektu se snímky obrazovky.@cs"
   #voc/lstr "Web-Seite mit Screenshots eines Projektes.@de"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about :doap/blog,
  :rdfs/label #voc/lstr "blog@en",
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment #voc/lstr "URI of a blog related to a project@en",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :doap/ArchRepository,
  :rdfs/label
  [#voc/lstr "Dépôt GNU Arch@fr"
   #voc/lstr "Repositorio GNU Arch@es"
   #voc/lstr "Úložiště GNU Arch@cs"
   #voc/lstr "GNU Arch repository@en"
   #voc/lstr "GNU Arch repository@de"],
  :rdf/type [:owl/Class :rdfs/Class],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/subClassOf :doap/Repository,
  :rdfs/comment
  [#voc/lstr "GNU Arch source code repository.@en"
   #voc/lstr "Úložiště zdrojových kódů GNU Arch.@cs"
   #voc/lstr "Dépôt GNU Arch du code source.@fr"
   #voc/lstr "Repositorio GNU Arch del código fuente.@es"
   #voc/lstr "GNU Arch Quellcode-Versionierungssystem.@de"]}
 {:rdf/about :doap/mailing-list,
  :rdfs/label
  [#voc/lstr "lista de correo@es"
   #voc/lstr "mailing list@en"
   #voc/lstr "liste de diffusion@fr"
   #voc/lstr "Mailing Liste@de"
   #voc/lstr "e–mailová diskuse@cs"],
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/comment
  [#voc/lstr "Domovská stránka nebo e–mailová adresa e–mailové diskuse.@cs"
   #voc/lstr "Page web de la liste de diffusion, ou adresse de courriel.@fr"
   #voc/lstr "Homepage der Mailing Liste oder E-Mail Adresse.@de"
   #voc/lstr "Mailing list home page or email address.@en"
   #voc/lstr "Página web de la lista de correo o dirección de correo.@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project}
 {:rdf/about :doap/CVSRepository,
  :rdfs/comment
  [#voc/lstr "Dépôt CVS du code source.@fr"
   #voc/lstr "Úložiště zdrojových kódů CVS.@cs"
   #voc/lstr "CVS Quellcode-Versionierungssystem.@de"
   #voc/lstr "CVS source code repository.@en"
   #voc/lstr "Repositorio CVS del código fuente.@es"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/label
  [#voc/lstr "CVS Repository@de"
   #voc/lstr "CVS Repository@en"
   #voc/lstr "Úložiště CVS@cs"
   #voc/lstr "Dépôt CVS@fr"
   #voc/lstr "Repositorio CVS@es"],
  :rdfs/subClassOf :doap/Repository,
  :rdf/type [:rdfs/Class :owl/Class]}
 {:rdf/about :doap/developer,
  :rdfs/label
  [#voc/lstr "Entwickler@de"
   #voc/lstr "vývojář@cs"
   #voc/lstr "développeur@fr"
   #voc/lstr "desarrollador@es"
   #voc/lstr "developer@en"],
  :rdfs/comment
  [#voc/lstr "Vývojář softwaru projektu.@cs"
   #voc/lstr "Desarrollador de software para el proyecto.@es"
   #voc/lstr "Développeur pour le projet.@fr"
   #voc/lstr "Developer of software for the project.@en"
   #voc/lstr "Software-Entwickler für eine Projekt.@de"],
  :rdf/type [:rdf/Property :owl/ObjectProperty],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/range :foaf/Person}
 {:rdf/about "http://usefulinc.com/ns/doap#",
  :foaf/maker _87c48c3ec4628cc810e48c79784e508a,
  :owl/imports "http://xmlns.com/foaf/0.1/",
  :dcterms/title "Description of a Project (DOAP) vocabulary",
  :rdfs/comment
  ["The Description of a Project (DOAP) vocabulary, described using W3C RDF Schema and the Web Ontology Language."
   #voc/lstr "Slovník Description of a Project (DOAP, Popis projektu), popsaný použitím W3C RDF Schema a Web Ontology Language.@cs"
   #voc/lstr "Le vocabulaire Description Of A Project (DOAP, Description D'Un Projet),\n\t\tdécrit en utilisant RDF Schema du W3C et OWL.@fr"
   #voc/lstr "El vocabulario Description of a Project (DOAP, Descripción de un Proyecto), descrito usando RDF Schema de W3C\n\t\ty Web Ontology Language.@es"
   #voc/lstr "Das Vokabular \"Description of a Project (DOAP)\", beschrieben durch W3C RDF Schema and the Web Ontology Language.@de"],
  :rdf/type :owl/Ontology}
 {:rdf/about :doap/tester,
  :rdfs/label
  [#voc/lstr "testeur@fr"
   #voc/lstr "Tester@de"
   #voc/lstr "tester@es"
   #voc/lstr "tester@en"
   #voc/lstr "tester@cs"],
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/range :foaf/Person,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdfs/domain :doap/Project,
  :rdfs/comment
  [#voc/lstr "Tester nebo jiný spoluautor kontrolující kvalitu.@cs"
   #voc/lstr "Un testeur ou un collaborateur au contrôle qualité.@fr"
   #voc/lstr "Ein Tester oder anderer Mitarbeiter der Qualitätskontrolle.@de"
   #voc/lstr "A tester or other quality control contributor.@en"
   #voc/lstr "Un tester u otro proveedor de control de calidad.@es"]}
 {:rdf/about :doap/created,
  :rdfs/label
  [#voc/lstr "created@en"
   #voc/lstr "erstellt@de"
   #voc/lstr "vytvořeno@cs"
   #voc/lstr "creado@es"
   #voc/lstr "créé@fr"],
  :rdfs/comment
  [#voc/lstr "Erstellungsdatum von Irgendwas, angegeben im YYYY-MM-DD Format, z.B. 2004-04-05.@de"
   #voc/lstr "Datum, kdy bylo něco vytvořeno ve formátu RRRR-MM-DD, např. 2004-04-05@cs"
   #voc/lstr "Fecha en la que algo fue creado, en formato AAAA-MM-DD. e.g. 2004-04-05@es"
   #voc/lstr "Date when something was created, in YYYY-MM-DD form. e.g. 2004-04-05@en"
   #voc/lstr "Date à laquelle a été créé quelque chose, au format AAAA-MM-JJ (par ex. 2004-04-05)@fr"],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:rdf/Property :owl/DatatypeProperty]}
 {:rdf/about :doap/category,
  :rdfs/label
  [#voc/lstr "category@en"
   #voc/lstr "categoría@es"
   #voc/lstr "kategorie@cs"
   #voc/lstr "Kategorie@de"
   #voc/lstr "catégorie@fr"],
  :rdfs/comment
  [#voc/lstr "Eine Kategorie eines Projektes.@de"
   #voc/lstr "Kategorie projektu.@cs"
   #voc/lstr "A category of project.@en"
   #voc/lstr "Una categoría de proyecto.@es"
   #voc/lstr "Une catégorie de projet.@fr"],
  :rdfs/domain :doap/Project,
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#"}
 {:rdf/about _8b36c86497493b86fe6ba7b940da8009,
  :owl/unionOf _03efd39ae95364dc5dc06334bf6da02f,
  :rdf/type :owl/Class}
 {:rdf/about :doap/release,
  :rdfs/comment
  [#voc/lstr "Une release (révision) d'un projet.@fr"
   #voc/lstr "Un release (versión) de un proyecto.@es"
   #voc/lstr "A project release.@en"
   #voc/lstr "Relase (verze) projektu.@cs"
   #voc/lstr "Ein Release (Version) eines Projekts.@de"],
  :rdfs/label
  [#voc/lstr "Release@de"
   #voc/lstr "release@fr"
   #voc/lstr "release@es"
   #voc/lstr "release@en"
   #voc/lstr "release@cs"],
  :rdfs/range :doap/Version,
  :rdfs/isDefinedBy "http://usefulinc.com/ns/doap#",
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :rdfs/domain :doap/Project}]
