^#:rdf{:ns-prefix-map
       {"dcterms" "http://purl.org/dc/terms/",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "foaf" "http://xmlns.com/foaf/0.1/"}}
[{:rdf/about :foaf/OnlineGamingAccount,
  :rdfs/subClassOf :foaf/OnlineAccount,
  :rdfs/label "Online Gaming Account",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "An online gaming account.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/made,
  :owl/inverseOf :foaf/maker,
  :rdfs/range :owl/Thing,
  :rdfs/label "made",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "Something that was made by this agent.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/Person,
  :owl/disjointWith [:foaf/Project :foaf/Organization],
  :rdfs/subClassOf :foaf/Agent,
  :rdfs/label "Person",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "A person.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/icqChatID,
  :rdfs/subPropertyOf :foaf/nick,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "ICQ chat ID",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "An ICQ chat ID",
  :rdf/type
  [:owl/InverseFunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/Organization,
  :owl/disjointWith [:foaf/Person :foaf/Document],
  :rdfs/subClassOf :foaf/Agent,
  :rdfs/label "Organization",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "An organization.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/LabelProperty,
  :rdfs/label "Label Property",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment
  "A foaf:LabelProperty is any RDF property with textual values that serve as labels.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/knows,
  :rdfs/range :foaf/Person,
  :rdfs/label "knows",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment
  "A person known by this person (indicating some level of reciprocated interaction between the parties).",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/status,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "status",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "A string expressing what the user is happy for the general public (normally) to know about their current activity.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/givenName,
  :rdfs/label "Given name",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "The given name of some person.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/depicts,
  :owl/inverseOf :foaf/depiction,
  :rdfs/range :owl/Thing,
  :rdfs/label "depicts",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Image,
  :rdfs/comment "A thing depicted in this representation.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/pastProject,
  :rdfs/range :owl/Thing,
  :rdfs/label "past project",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "A project this person has previously worked on.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/weblog,
  :rdfs/subPropertyOf :foaf/page,
  :rdfs/range :foaf/Document,
  :rdfs/label "weblog",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "A weblog of some thing (whether person, group, company etc.).",
  :rdf/type
  [:owl/ObjectProperty :owl/InverseFunctionalProperty :rdf/Property]}
 {:rdf/about :foaf/Agent,
  :owl/equivalentClass :dcterms/Agent,
  :rdfs/label "Agent",
  :rdfs/comment
  "An agent (eg. person, group, software or physical artifact).",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/familyName,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "familyName",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "The family name of some person.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/page,
  :owl/inverseOf :foaf/topic,
  :rdfs/range :foaf/Document,
  :rdfs/label "page",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :owl/Thing,
  :rdfs/comment "A page or document about this thing.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdfs/domain :owl/Thing,
  :rdf/type [:owl/ObjectProperty :rdf/Property],
  :owl/equivalentProperty :dcterms/creator,
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/label "maker",
  :rdf/about :foaf/maker,
  :rdfs/comment "An agent that made this thing.",
  :owl/inverseOf :foaf/made,
  :rdfs/range :foaf/Agent}
 {:rdf/about :foaf/PersonalProfileDocument,
  :rdfs/subClassOf :foaf/Document,
  :rdfs/label "PersonalProfileDocument",
  :rdfs/comment "A personal profile RDF document.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/homepage,
  :rdfs/comment "A homepage for some thing.",
  :rdfs/range :foaf/Document,
  :rdf/type
  [:rdf/Property :owl/ObjectProperty :owl/InverseFunctionalProperty],
  :rdfs/subPropertyOf [:foaf/page :foaf/isPrimaryTopicOf],
  :rdfs/domain :owl/Thing,
  :rdfs/label "homepage",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/"}
 {:rdfs/domain :owl/Thing,
  :rdf/type [:owl/InverseFunctionalProperty :rdf/Property],
  :rdfs/subPropertyOf :foaf/page,
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/label "is primary topic of",
  :rdf/about :foaf/isPrimaryTopicOf,
  :rdfs/comment "A document that this thing is the primary topic of.",
  :owl/inverseOf :foaf/primaryTopic,
  :rdfs/range :foaf/Document}
 {:rdf/about :foaf/workplaceHomepage,
  :rdfs/range :foaf/Document,
  :rdfs/label "workplace homepage",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment
  "A workplace homepage of some person; the homepage of an organization they work for.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/primaryTopic,
  :owl/inverseOf :foaf/isPrimaryTopicOf,
  :rdfs/range :owl/Thing,
  :rdfs/label "primary topic",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Document,
  :rdfs/comment "The primary topic of some page or document.",
  :rdf/type
  [:owl/ObjectProperty :owl/FunctionalProperty :rdf/Property]}
 {:rdf/about :foaf/img,
  :rdfs/subPropertyOf :foaf/depiction,
  :rdfs/range :foaf/Image,
  :rdfs/label "image",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment
  "An image that can be used to represent some thing (ie. those depictions which are particularly representative of something, eg. one's photo on a homepage).",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/workInfoHomepage,
  :rdfs/range :foaf/Document,
  :rdfs/label "work info homepage",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment
  "A work info homepage of some person; a page about their work for some organization.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/membershipClass,
  :rdfs/label "membershipClass",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment
  "Indicates the class of individuals that are a member of a Group",
  :rdf/type [:owl/AnnotationProperty :rdf/Property]}
 {:rdf/about :foaf/OnlineChatAccount,
  :rdfs/subClassOf :foaf/OnlineAccount,
  :rdfs/label "Online Chat Account",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "An online chat account.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/name,
  :rdfs/subPropertyOf :rdfs/label,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "name",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :owl/Thing,
  :rdfs/comment "A name for some thing.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/logo,
  :rdfs/range :owl/Thing,
  :rdfs/label "logo",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :owl/Thing,
  :rdfs/comment "A logo representing some thing.",
  :rdf/type
  [:owl/ObjectProperty :owl/InverseFunctionalProperty :rdf/Property]}
 {:rdf/about :foaf/interest,
  :rdfs/range :foaf/Document,
  :rdfs/label "interest",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "A page about a topic of interest to this person.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/age,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "age",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "The age in years of some agent.",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/plan,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "plan",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment
  "A .plan comment, in the tradition of finger and '.plan' files.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/Group,
  :rdfs/subClassOf :foaf/Agent,
  :rdfs/label "Group",
  :rdfs/comment "A class of Agents.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/publications,
  :rdfs/range :foaf/Document,
  :rdfs/label "publications",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "A link to the publications of this person.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/depiction,
  :owl/inverseOf :foaf/depicts,
  :rdfs/range :foaf/Image,
  :rdfs/label "depiction",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :owl/Thing,
  :rdfs/comment "A depiction of some thing.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/msnChatID,
  :rdfs/subPropertyOf :foaf/nick,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "MSN chat ID",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "An MSN chat ID",
  :rdf/type
  [:owl/InverseFunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/Image,
  :rdfs/subClassOf :foaf/Document,
  :rdfs/label "Image",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "An image.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/mbox_sha1sum,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "sha1sum of a personal mailbox URI name",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "The sha1sum of the URI of an Internet mailbox associated with exactly one owner, the first owner of the mailbox.",
  :rdf/type
  [:owl/InverseFunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/openid,
  :rdfs/subPropertyOf :foaf/isPrimaryTopicOf,
  :rdfs/range :foaf/Document,
  :rdfs/label "openid",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "An OpenID for an Agent.",
  :rdf/type
  [:owl/ObjectProperty :owl/InverseFunctionalProperty :rdf/Property]}
 {:rdf/about :foaf/firstName,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "firstName",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "The first name of a person.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/sha1,
  :rdfs/label "sha1sum (hex)",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Document,
  :rdfs/comment "A sha1sum hash, in hex.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/OnlineAccount,
  :rdfs/subClassOf :owl/Thing,
  :rdfs/label "Online Account",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "An online account.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/nick,
  :rdfs/label "nickname",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment
  "A short informal nickname characterising an agent (includes login identifiers, IRC and other chat nicknames).",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/Project,
  :owl/disjointWith [:foaf/Person :foaf/Document],
  :rdfs/label "Project",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "A project (a collective endeavour of some kind).",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/schoolHomepage,
  :rdfs/range :foaf/Document,
  :rdfs/label "schoolHomepage",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "A homepage of a school attended by the person.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/accountName,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "account name",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/OnlineAccount,
  :rdfs/comment
  "Indicates the name (identifier) associated with this online account.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/title,
  :rdfs/label "title",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "Title (Mr, Mrs, Ms, Dr. etc)",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/aimChatID,
  :rdfs/subPropertyOf :foaf/nick,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "AIM chat ID",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "An AIM chat ID",
  :rdf/type
  [:owl/InverseFunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/gender,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "gender",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "The gender of this Agent (typically but not necessarily 'male' or 'female').",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/lastName,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "lastName",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "The last name of a person.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/OnlineEcommerceAccount,
  :rdfs/subClassOf :foaf/OnlineAccount,
  :rdfs/label "Online E-commerce Account",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "An online e-commerce account.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/currentProject,
  :rdfs/range :owl/Thing,
  :rdfs/label "current project",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "A current project this person works on.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about "http://xmlns.com/foaf/0.1/",
  :rdfs/comment
  "This version of the FOAF vocabulary has been slightly trimmed for LV2.",
  :dcterms/title "Friend of a Friend (FOAF) vocabulary",
  :dcterms/description
  "The Friend of a Friend (FOAF) RDF vocabulary, described using W3C RDF Schema and the Web Ontology Language.",
  :rdf/type :owl/Ontology}
 {:rdf/about :foaf/tipjar,
  :rdfs/subPropertyOf :foaf/page,
  :rdfs/range :foaf/Document,
  :rdfs/label "tipjar",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "A tipjar document for this agent, describing means for payment and reward.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/jabberID,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "jabber ID",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "A jabber ID for something.",
  :rdf/type
  [:owl/InverseFunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/myersBriggs,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "myersBriggs",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Person,
  :rdfs/comment "A Myers Briggs (MBTI) personality classification.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/mbox,
  :rdfs/range :owl/Thing,
  :rdfs/label "personal mailbox",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "A personal mailbox, ie. an Internet mailbox associated with exactly one owner, the first owner of this mailbox. This is a 'static inverse functional property', in that there is (across time and change) at most one individual that ever has any particular value for foaf:mbox.",
  :rdf/type
  [:owl/ObjectProperty :owl/InverseFunctionalProperty :rdf/Property]}
 {:rdf/about :foaf/yahooChatID,
  :rdfs/subPropertyOf :foaf/nick,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "Yahoo chat ID",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "A Yahoo chat ID",
  :rdf/type
  [:owl/InverseFunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/birthday,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "birthday",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment
  "The birthday of this Agent, represented in mm-dd string form, eg. '12-31'.",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/skypeID,
  :rdfs/subPropertyOf :foaf/nick,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "Skype ID",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "A Skype ID",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :foaf/Document,
  :owl/disjointWith [:foaf/Project :foaf/Organization],
  :rdfs/label "Document",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment "A document.",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :foaf/topic_interest,
  :rdfs/range :owl/Thing,
  :rdfs/label "topic_interest",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "A thing of interest to this person.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/member,
  :rdfs/range :foaf/Agent,
  :rdfs/label "member",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Group,
  :rdfs/comment "Indicates a member of a Group",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/topic,
  :owl/inverseOf :foaf/page,
  :rdfs/range :owl/Thing,
  :rdfs/label "topic",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Document,
  :rdfs/comment "A topic of some page or document.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/phone,
  :rdfs/label "phone",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/comment
  "A phone, specified using fully qualified tel: URI scheme (refs: http://www.w3.org/Addressing/schemes.html#tel).",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/account,
  :rdfs/range :foaf/OnlineAccount,
  :rdfs/label "account",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Agent,
  :rdfs/comment "Indicates an account held by this agent.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/thumbnail,
  :rdfs/range :foaf/Image,
  :rdfs/label "thumbnail",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/Image,
  :rdfs/comment "A derived thumbnail image.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :foaf/accountServiceHomepage,
  :rdfs/range :foaf/Document,
  :rdfs/label "account service homepage",
  :rdfs/isDefinedBy "http://xmlns.com/foaf/0.1/",
  :rdfs/domain :foaf/OnlineAccount,
  :rdfs/comment
  "Indicates a homepage of the service provide for this online account.",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}]
