^#:rdf{:ns-prefix-map
       {"ia" "http://lv2plug.in/ns/ext/instance-access#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#"}}
[{:rdf/about "<http://lv2plug.in/ns/ext/instance-access>",
  :rdfs/seeAlso
  "<https://gitlab.com/lv2/lv2/-/raw/master/lv2/instance-access.lv2/instance-access.meta.ttl>",
  :rdfs/comment "A feature that provides access to a plugin instance.",
  :rdfs/label "instance access",
  :rdf/type :lv2/Feature}]
