^#:rdf{:ns-prefix-map
       {"doap" "http://usefulinc.com/ns/doap#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#"}}
[{:rdf/about :lv2/InstrumentPlugin,
  :rdfs/comment
  "A plugin intended to be played as a musical instrument.",
  :rdfs/label "Instrument Plugin",
  :rdfs/subClassOf :lv2/GeneratorPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/GeneratorPlugin,
  :rdfs/comment "A plugin that generates new sound internally.",
  :rdfs/label "Generator Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/ExpanderPlugin,
  :rdfs/comment
  "A plugin that expands the dynamic range of its input.",
  :rdfs/label "Expander Plugin",
  :rdfs/subClassOf :lv2/DynamicsPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about #:rdf{:blank "ab9bc15e4e471f1e9fc52c60e2d5653f"},
  :rdfs/comment "A port MUST have at least one lv2:name.",
  :owl/minCardinality 1,
  :owl/onProperty :lv2/name,
  :rdf/type :owl/Restriction}
 {:rdf/about :lv2/BandpassPlugin,
  :rdfs/comment
  "A filter that attenuates frequencies outside of some band.",
  :rdfs/label "Bandpass Filter Plugin",
  :rdfs/subClassOf :lv2/FilterPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/ChorusPlugin,
  :rdfs/comment
  "An effect that mixes significantly delayed copies of its input.",
  :rdfs/label "Chorus Plugin",
  :rdfs/subClassOf :lv2/ModulatorPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/AllpassPlugin,
  :rdfs/comment
  "A filter that changes the phase relationship between frequency components.",
  :rdfs/label "Allpass Filter Plugin",
  :rdfs/subClassOf :lv2/FilterPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/AmplifierPlugin,
  :rdfs/comment
  "A plugin that primarily changes the volume of its input.",
  :rdfs/label "Amplifier Plugin",
  :rdfs/subClassOf :lv2/DynamicsPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Symbol,
  :rdfs/comment "A short restricted name used as a strong identifier.",
  :rdfs/label "Symbol",
  :owl/withRestrictions
  #:rdf{:blank "a1a8a41786655d659e1467b3d4bc0da5"},
  :owl/onDatatype :xsd/string,
  :rdf/type :rdfs/Datatype}
 {:rdf/about :lv2/symbol,
  :rdfs/comment
  "The symbol that identifies this resource in the context of its parent.",
  :rdfs/range [:rdf/PlainLiteral :lv2/Symbol],
  :rdfs/label "symbol",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/CompressorPlugin,
  :rdfs/comment
  "A plugin that reduces the dynamic range of its input.",
  :rdfs/label "Compressor Plugin",
  :rdfs/subClassOf :lv2/DynamicsPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about #:rdf{:uri "http://lv2plug.in/ns/lv2core"},
  :owl/imports #:rdf{:uri "http://usefulinc.com/ns/doap#"},
  :rdfs/seeAlso
  #:rdf{:uri
        "https://gitlab.com/lv2/lv2/-/raw/master/lv2/core.lv2/lv2core.meta.ttl"},
  :rdfs/comment "An extensible open standard for audio plugins.",
  :rdfs/label "LV2",
  :rdf/type :owl/Ontology}
 {:rdf/about :lv2/ConstantPlugin,
  :rdfs/comment "A plugin that emits constant values.",
  :rdfs/label "Constant Plugin",
  :rdfs/subClassOf :lv2/GeneratorPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Specification,
  :rdfs/comment "An LV2 specifiation.",
  :rdfs/label "Specification",
  :rdfs/subClassOf :doap/Project,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Channel,
  :rdfs/comment "An individual channel, such as left or right.",
  :rdfs/label "Channel",
  :rdfs/subClassOf :lv2/Designation,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/SpectralPlugin,
  :rdfs/comment
  "A plugin that alters the spectral properties of audio.",
  :rdfs/label "Spectral Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/prototype,
  :rdfs/comment "The prototype to inherit properties from.",
  :rdfs/label "prototype",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about #:rdf{:blank "753c68d22f11c0600acc9f8380a135bb"},
  :xsd/pattern "[_a-zA-Z][_a-zA-Z0-9]*"}
 {:rdf/about :lv2/isLive,
  :rdfs/comment "Plugin has a real-time dependency.",
  :rdfs/label "is live",
  :rdf/type :lv2/Feature}
 {:rdf/about :lv2/PortProperty,
  :rdfs/comment "A particular property that a port has.",
  :rdfs/label "Port Property",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/portProperty,
  :rdfs/comment "A property of this port hosts may find useful.",
  :rdfs/label "port property",
  :rdfs/range :lv2/PortProperty,
  :rdfs/domain :lv2/Port,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/ModulatorPlugin,
  :rdfs/comment "An effect that modulats its input as an effect.",
  :rdfs/label "Modulator Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/default,
  :rdfs/comment "The default value for this control.",
  :rdfs/label "default",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/enabled,
  :rdfs/comment
  "Whether processing is currently enabled (not bypassed).",
  :rdfs/range :xsd/int,
  :rdfs/label "enabled",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/CombPlugin,
  :rdfs/comment
  "A filter that adds a delayed version of its input to itself.",
  :rdfs/label "Comb Filter Plugin",
  :rdfs/subClassOf :lv2/FilterPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/MIDIPlugin,
  :rdfs/comment "A plugin that primarily processes MIDI messages.",
  :rdfs/label "MIDI Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/maximum,
  :rdfs/comment "The maximum value for this control.",
  :rdfs/label "maximum",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/isSideChain,
  :rdfs/comment
  "Signal for port should not be considered a main input or output.",
  :rdfs/label "is side-chain",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :lv2/microVersion,
  :rdfs/comment "The micro version of this resource.",
  :rdfs/label "micro version",
  :rdfs/range :xsd/nonNegativeInteger,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/CVPort,
  :rdfs/comment
  "A port connected to an array of float control values.",
  :rdfs/label "CV Port",
  :rdfs/subClassOf :lv2/Port,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/freeWheeling,
  :rdfs/comment "Whether processing is currently free-wheeling.",
  :rdfs/range :xsd/boolean,
  :rdfs/label "free-wheeling",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/UtilityPlugin,
  :rdfs/comment
  "A utility plugin that is not a typical audio effect or generator.",
  :rdfs/label "Utility Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/OscillatorPlugin,
  :rdfs/comment "A plugin that generates output with an oscillator.",
  :rdfs/label "Oscillator Plugin",
  :rdfs/subClassOf :lv2/GeneratorPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/hardRTCapable,
  :rdfs/comment
  "Plugin is capable of running in a hard real-time environment.",
  :rdfs/label "hard real-time capable",
  :rdf/type :lv2/Feature}
 {:rdf/about :lv2/Plugin,
  :rdfs/subClassOf
  [#:rdf{:blank "d3e04bc6c283f3df7d3d5657f2835067"}
   #:rdf{:blank "8d586e2a4981d0a8fbd977c478070eab"}
   :lv2/PluginBase],
  :rdfs/comment "An LV2 plugin.",
  :rdfs/label "Plugin",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/ControlPort,
  :rdfs/comment "A port connected to a single `float`.",
  :rdfs/label "Control Port",
  :rdfs/subClassOf :lv2/Port,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/integer,
  :rdfs/comment "Control port values are treated as integers.",
  :rdfs/label "integer",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :lv2/PortBase,
  :rdfs/subClassOf #:rdf{:blank "4f412354883f0c72b626c4b3545e842a"},
  :rdfs/comment "Base class for a port-like resource.",
  :rdfs/label "Port Base",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/latency,
  :rdfs/comment "The latency introduced, in frames.",
  :rdfs/label "latency",
  :rdfs/range :xsd/nonNegativeInteger,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/AnalyserPlugin,
  :rdfs/comment
  "A plugin that analyses its input and emits some useful information.",
  :rdfs/label "Analyser Plugin",
  :rdfs/subClassOf :lv2/UtilityPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about #:rdf{:blank "d3e04bc6c283f3df7d3d5657f2835067"},
  :rdfs/comment
  "All ports on a plugin MUST be fully specified lv2:Port instances.",
  :owl/allValuesFrom :lv2/Port,
  :owl/onProperty :lv2/port,
  :rdf/type :owl/Restriction}
 {:rdf/about :lv2/control,
  :rdfs/comment "The primary control channel.",
  :rdfs/label "control",
  :rdf/type :lv2/Channel}
 {:rdf/about :lv2/MixerPlugin,
  :rdfs/comment
  "A plugin that mixes some number of inputs into some number of outputs.",
  :rdfs/label "Mixer Plugin",
  :rdfs/subClassOf :lv2/UtilityPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/DistortionPlugin,
  :rdfs/comment "A plugin that adds distortion to its input.",
  :rdfs/label "Distortion Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/LimiterPlugin,
  :rdfs/comment
  "A plugin that limits its input to some maximum level.",
  :rdfs/label "Limiter Plugin",
  :rdfs/subClassOf :lv2/DynamicsPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Markdown,
  :rdfs/comment "A string in Markdown syntax.",
  :rdfs/label "Markdown",
  :owl/onDatatype :xsd/string,
  :rdf/type :rdfs/Datatype}
 {:rdf/about :lv2/documentation,
  :rdfs/seeAlso #:rdf{:uri "http://www.w3.org/TR/xhtml-basic/"},
  :rdfs/comment "Extended documentation.",
  :rdfs/label "documentation",
  :rdfs/range :rdfs/Literal,
  :rdf/type [:owl/AnnotationProperty :rdf/Property]}
 {:rdf/about :lv2/project,
  :rdfs/comment "The project this is a part of.",
  :rdfs/label "project",
  :rdfs/range :doap/Project,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/LowpassPlugin,
  :rdfs/comment
  "A filter that attenuates frequencies above some cutoff.",
  :rdfs/label "Lowpass Filter Plugin",
  :rdfs/subClassOf :lv2/FilterPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/MultiEQPlugin,
  :rdfs/comment
  "A plugin that adjusts the balance between a fixed set of frequency components.",
  :rdfs/label "Multiband EQ Plugin",
  :rdfs/subClassOf :lv2/EQPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/requiredFeature,
  :rdfs/comment "A required feature that must be available to run.",
  :rdfs/label "required feature",
  :rdfs/range :lv2/Feature,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/FilterPlugin,
  :rdfs/comment
  "An effect that manipulates the frequency spectrum of its input.",
  :rdfs/label "Filter Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/name,
  :rdfs/comment "A display name for labeling in a user interface.",
  :rdfs/range :xsd/string,
  :rdfs/label "name",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/designation,
  :rdfs/comment
  "The designation that defines the meaning of this input or output.",
  :rdfs/label "designation",
  :rdfs/range :rdf/Property,
  :rdf/type
  [:owl/FunctionalProperty :owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/AudioPort,
  :rdfs/comment "A port connected to an array of float audio samples.",
  :rdfs/label "Audio Port",
  :rdfs/subClassOf :lv2/Port,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Designation,
  :rdfs/comment
  "A designation which defines the meaning of some data.",
  :rdfs/label "Designation",
  :rdfs/subClassOf :rdf/Property,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/FunctionPlugin,
  :rdfs/comment
  "A plugin whose output is a mathematical function of its input.",
  :rdfs/label "Function Plugin",
  :rdfs/subClassOf :lv2/UtilityPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/SimulatorPlugin,
  :rdfs/comment
  "A plugin that aims to emulate some environmental effect or musical equipment.",
  :rdfs/label "Simulator Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/inPlaceBroken,
  :rdfs/comment
  "Plugin requires separate locations for input and output.",
  :rdfs/label "in-place broken",
  :rdf/type :lv2/Feature}
 {:rdf/about :lv2/SpatialPlugin,
  :rdfs/comment
  "A plugin that manipulates the position of audio in space.",
  :rdfs/label "Spatial Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/PhaserPlugin,
  :rdfs/comment
  "An effect that periodically sweeps a filter over its input.",
  :rdfs/label "Phaser Plugin",
  :rdfs/subClassOf :lv2/ModulatorPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Feature,
  :rdfs/comment "An additional feature which may be used or required.",
  :rdfs/label "Feature",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/sampleRate,
  :rdfs/comment
  "Control port bounds are interpreted as multiples of the sample rate.",
  :rdfs/label "sample rate",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :lv2/optionalFeature,
  :rdfs/comment "An optional feature that is supported if available.",
  :rdfs/label "optional feature",
  :rdfs/range :lv2/Feature,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/DelayPlugin,
  :rdfs/comment
  "An effect that intentionally delays its input as an effect.",
  :rdfs/label "Delay Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about #:rdf{:blank "8d586e2a4981d0a8fbd977c478070eab"},
  :rdfs/comment
  "A plugin MUST have at least one untranslated doap:name.",
  :owl/someValuesFrom :rdf/PlainLiteral,
  :owl/onProperty :doap/name,
  :rdf/type :owl/Restriction}
 {:rdf/about :lv2/FlangerPlugin,
  :rdfs/comment
  "An effect that mixes slightly delayed copies of its input.",
  :rdfs/label "Flanger Plugin",
  :rdfs/subClassOf :lv2/ModulatorPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/ConverterPlugin,
  :rdfs/comment
  "A plugin that converts its input into a different form.",
  :rdfs/label "Converter Plugin",
  :rdfs/subClassOf :lv2/UtilityPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/DynamicsPlugin,
  :rdfs/comment
  "A plugin that alters the envelope or dynamic range of its input.",
  :rdfs/label "Dynamics Plugin",
  :rdfs/subClassOf :lv2/Plugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/PitchPlugin,
  :rdfs/comment "A plugin that shifts the pitch of its input.",
  :rdfs/label "Pitch Shifter Plugin",
  :rdfs/subClassOf :lv2/SpectralPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/HighpassPlugin,
  :rdfs/comment
  "A filter that attenuates frequencies below some cutoff.",
  :rdfs/label "Highpass Filter Plugin",
  :rdfs/subClassOf :lv2/FilterPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/index,
  :rdfs/comment "A non-negative zero-based 32-bit index.",
  :rdfs/label "index",
  :rdfs/range :xsd/unsignedInt,
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/ScalePoint,
  :rdfs/comment "A single `float` Point for control inputs.",
  :rdfs/label "Scale Point",
  :rdfs/subClassOf :lv2/Point,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/scalePoint,
  :rdfs/comment "A scale point of a port or parameter.",
  :rdfs/label "scale point",
  :rdfs/range :lv2/ScalePoint,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/ReverbPlugin,
  :rdfs/comment "An effect that adds reverberation to its input.",
  :rdfs/label "Reverb Plugin",
  :rdfs/subClassOf [:lv2/DelayPlugin :lv2/SimulatorPlugin :lv2/Plugin],
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/Point,
  :rdfs/comment "An interesting point in a value range.",
  :rdfs/label "Point",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/toggled,
  :rdfs/comment "Control port value is considered a boolean toggle.",
  :rdfs/label "toggled",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :lv2/PluginBase,
  :rdfs/comment "Base class for a plugin-like resource.",
  :rdfs/label "Plugin Base",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/minorVersion,
  :rdfs/comment "The minor version of this resource.",
  :rdfs/label "minor version",
  :rdfs/range :xsd/nonNegativeInteger,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/EnvelopePlugin,
  :rdfs/comment "A plugin that applies an envelope to its input.",
  :rdfs/label "Envelope Plugin",
  :rdfs/subClassOf :lv2/DynamicsPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/minimum,
  :rdfs/comment "The minimum value for this control.",
  :rdfs/label "minimum",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/OutputPort,
  :rdfs/comment
  "A port connected to data which is written during `run()`.",
  :rdfs/label "Output Port",
  :rdfs/subClassOf :lv2/Port,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/binary,
  :rdfs/comment "The binary of this resource.",
  :rdfs/label "binary",
  :rdfs/range :owl/Thing,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/Port,
  :rdfs/subClassOf
  [#:rdf{:blank "ab9bc15e4e471f1e9fc52c60e2d5653f"} :lv2/PortBase],
  :rdfs/comment "An LV2 plugin port.",
  :rdfs/label "Port",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/port,
  :rdfs/comment "A port (input or output) on this plugin.",
  :rdfs/label "port",
  :rdfs/range :lv2/PortBase,
  :rdfs/domain :lv2/PluginBase,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/reportsLatency,
  :rdfs/comment "Control port value is the plugin latency in frames.",
  :rdfs/label "reports latency",
  :owl/deprecated true,
  :rdf/type :lv2/PortProperty}
 #:rdf{:about #:rdf{:blank "a1a8a41786655d659e1467b3d4bc0da5"},
       :rest :rdf/nil,
       :first #:rdf{:blank "753c68d22f11c0600acc9f8380a135bb"}}
 {:rdf/about :lv2/ParaEQPlugin,
  :rdfs/comment
  "A plugin that adjusts the balance between configurable frequency components.",
  :rdfs/label "Parametric EQ Plugin",
  :rdfs/subClassOf :lv2/EQPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/EQPlugin,
  :rdfs/comment
  "A plugin that adjusts the balance between frequency components.",
  :rdfs/label "EQ Plugin",
  :rdfs/subClassOf :lv2/FilterPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/InputPort,
  :rdfs/comment
  "A port connected to constant data which is read during `run()`.",
  :rdfs/label "Input Port",
  :rdfs/subClassOf :lv2/Port,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/connectionOptional,
  :rdfs/comment
  "The property that this port may be connected to NULL.",
  :rdfs/label "connection optional",
  :rdf/type :lv2/PortProperty}
 {:rdf/about #:rdf{:blank "4f412354883f0c72b626c4b3545e842a"},
  :rdfs/comment "A port MUST have exactly one lv2:symbol.",
  :owl/cardinality 1,
  :owl/onProperty :lv2/symbol,
  :rdf/type :owl/Restriction}
 {:rdf/about :lv2/GatePlugin,
  :rdfs/comment
  "A plugin that attenuates signals below some threshold.",
  :rdfs/label "Gate Plugin",
  :rdfs/subClassOf :lv2/DynamicsPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/WaveshaperPlugin,
  :rdfs/comment "An effect that alters the shape of input waveforms.",
  :rdfs/label "Waveshaper Plugin",
  :rdfs/subClassOf :lv2/DistortionPlugin,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/extensionData,
  :rdfs/comment "Extension data provided by a plugin or other binary.",
  :rdfs/label "extension data",
  :rdfs/range :lv2/ExtensionData,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/Parameter,
  :rdfs/comment "A property that is a plugin parameter.",
  :rdfs/label "Parameter",
  :rdfs/subClassOf [:rdf/Property :lv2/Designation],
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/ExtensionData,
  :rdfs/comment "Additional data defined by an extension.",
  :rdfs/label "Extension Data",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :lv2/shortName,
  :rdfs/comment
  "A short display name for labeling in a user interface.",
  :rdfs/range :xsd/string,
  :rdfs/label "short name",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :lv2/appliesTo,
  :rdfs/comment "The plugin this resource is related to.",
  :rdfs/label "applies to",
  :rdfs/range :lv2/Plugin,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :lv2/enumeration,
  :rdfs/comment
  "Control port scale points represent all useful values.",
  :rdfs/label "enumeration",
  :rdf/type :lv2/PortProperty}]
