^#:rdf{:ns-prefix-map
       {"ev" "http://lv2plug.in/ns/ext/event#",
        "midi" "http://lv2plug.in/ns/ext/midi#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "atom" "http://lv2plug.in/ns/ext/atom#"}}
[{:rdf/about _e44f6552a95d642b2962d1bde77d21da,
  :midi/property :midi/songPosition,
  :midi/byteNumber [1 0]}
 {:rdf/about :midi/property,
  :rdfs/comment "The property this chunk represents.",
  :rdfs/range :rdf/Property,
  :rdfs/domain :midi/Chunk,
  :rdfs/label "property",
  :rdf/type
  [:owl/FunctionalProperty :owl/ObjectProperty :rdf/Property]}
 {:rdf/about :midi/VoiceMessage,
  :midi/statusMask [-16],
  :rdfs/comment "MIDI voice message.",
  :rdfs/label "Voice Message",
  :rdfs/subClassOf :midi/MidiEvent,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/ChannelPressure,
  :midi/chunk _74c663cfadee6170c93c6d5c0fe8bce7,
  :midi/statusMask [-48],
  :rdfs/comment "MIDI channel pressure message.",
  :rdfs/label "Channel Pressure",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/ActiveSense,
  :midi/status [-2],
  :rdfs/comment "MIDI active sense message.",
  :rdfs/label "Active Sense",
  :rdfs/subClassOf :midi/SystemRealtime,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/status,
  :rdfs/comment "The exact status byte for a message of this type.",
  :rdfs/range :midi/HexByte,
  :rdfs/label "status byte",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/binding,
  :rdfs/comment "The MIDI event to bind a parameter to.",
  :rdfs/label "binding",
  :rdfs/range :midi/MidiEvent,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :midi/SongSelect,
  :midi/status [-13],
  :rdfs/comment "MIDI song select message.",
  :rdfs/label "Song Select",
  :rdfs/subClassOf :midi/SystemCommon,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/NoteOn,
  :midi/chunk
  [_d8eb4e7a61e1803491b4194334a927e4
   _45bbb1a6bedf10d115a637b6bfd668f8],
  :midi/statusMask [-112],
  :rdfs/comment "MIDI note on message.",
  :rdfs/label "Note On",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/byteNumber,
  :rdfs/comment
  "The 0-based index of a byte which is part of this chunk.",
  :rdfs/range :xsd/unsignedByte,
  :rdfs/domain :midi/Chunk,
  :rdfs/label "byte number",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/HexByte,
  :rdfs/comment "A hexadecimal byte, which has a value <= FF.",
  :rdfs/label "Hex Byte",
  :owl/withRestrictions _3b7cc0d0cb4fc0886250d544c1d02d27,
  :owl/onDatatype :xsd/hexBinary,
  :rdf/type :rdfs/Datatype}
 {:rdf/about "http://lv2plug.in/ns/ext/midi",
  :rdfs/seeAlso
  "https://gitlab.com/lv2/lv2/-/raw/master/lv2/midi.lv2/midi.meta.ttl",
  :rdfs/comment "A normalised definition of raw MIDI.",
  :rdfs/label "LV2 MIDI",
  :rdf/type :owl/Ontology}
 {:rdf/about :midi/channel,
  :rdfs/comment "The channel number of a MIDI message.",
  :rdfs/range :xsd/unsignedByte,
  :rdfs/label "MIDI channel",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _1d80c3707429c74dd8013be3c5879b3c,
  :midi/property :midi/noteNumber,
  :midi/byteNumber 0}
 {:rdf/about :midi/Start,
  :midi/status [-6],
  :rdfs/comment "MIDI start message.",
  :rdfs/label "Start",
  :rdfs/subClassOf :midi/SystemRealtime,
  :rdf/type :rdfs/Class}
 {:rdf/about _e6893bd15d6cfca32bb05815f272d7ed,
  :midi/property :midi/noteNumber,
  :midi/byteNumber 0}
 {:rdf/about _99eb309dc7772ea92c4981e421737b3a,
  :midi/property :midi/velocity,
  :midi/byteNumber 1}
 {:rdf/about _5463cd7de8e48140927e65c0bcb12caa,
  :midi/property :midi/controllerNumber,
  :midi/byteNumber 0}
 {:rdf/about _0c4de3f059f0c020a895891fdb492e55,
  :midi/property :midi/programNumber,
  :midi/byteNumber 0}
 {:rdf/about :midi/NoteOff,
  :midi/chunk
  [_99eb309dc7772ea92c4981e421737b3a
   _e6893bd15d6cfca32bb05815f272d7ed],
  :midi/statusMask [-128],
  :rdfs/comment "MIDI note off message.",
  :rdfs/label "Note Off",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about _45bbb1a6bedf10d115a637b6bfd668f8,
  :midi/property :midi/noteNumber,
  :midi/byteNumber 0}
 {:rdf/about :midi/Continue,
  :midi/status [-5],
  :rdfs/comment "MIDI continue message.",
  :rdfs/label "Continue",
  :rdfs/subClassOf :midi/SystemRealtime,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/Bender,
  :midi/chunk _6130660d9ea866f314feeca4d447b8b3,
  :midi/statusMask [-32],
  :rdfs/comment "MIDI bender message.",
  :rdfs/label "Bender",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/MidiEvent,
  :rdfs/comment "A single raw MIDI message.",
  :rdfs/label "MIDI Message",
  :owl/onDatatype :xsd/hexBinary,
  :rdfs/subClassOf [:atom/Atom :ev/Event],
  :rdf/type [:rdfs/Datatype :rdfs/Class]}
 {:rdf/about :midi/controllerNumber,
  :rdfs/comment "The numeric ID of a controller (0 to 127).",
  :rdfs/range :xsd/byte,
  :rdfs/label "MIDI controller number",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/pressure,
  :rdfs/comment "Key pressure (0 to 127).",
  :rdfs/range :xsd/byte,
  :rdfs/label "key pressure",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/SystemMessage,
  :midi/statusMask [-16],
  :rdfs/comment "MIDI system message.",
  :rdfs/label "System Message",
  :rdfs/subClassOf :midi/MidiEvent,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/Aftertouch,
  :midi/chunk
  [_1100d2b318c21a531c0a5da84b105e82
   _1d80c3707429c74dd8013be3c5879b3c],
  :midi/statusMask [-96],
  :rdfs/comment "MIDI aftertouch message.",
  :rdfs/label "Aftertouch",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/TuneRequest,
  :midi/status [-10],
  :rdfs/comment "MIDI tune request message.",
  :rdfs/label "Tune Request",
  :rdfs/subClassOf :midi/SystemCommon,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/Stop,
  :midi/status [-4],
  :rdfs/comment "MIDI stop message.",
  :rdfs/label "Stop",
  :rdfs/subClassOf :midi/SystemRealtime,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/QuarterFrame,
  :midi/status [-15],
  :rdfs/comment "MIDI quarter frame message.",
  :rdfs/label "Quarter Frame",
  :rdfs/subClassOf :midi/SystemCommon,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/controllerValue,
  :rdfs/comment "The value of a controller (0 to 127).",
  :rdfs/range :xsd/byte,
  :rdfs/label "MIDI controller value",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 #:rdf{:about _3b7cc0d0cb4fc0886250d544c1d02d27,
       :rest :rdf/nil,
       :first _148b3156d0b2615e4724a5dacc430220}
 {:rdf/about _d8eb4e7a61e1803491b4194334a927e4,
  :midi/property :midi/velocity,
  :midi/byteNumber 1}
 {:rdf/about :midi/ProgramChange,
  :midi/chunk _0c4de3f059f0c020a895891fdb492e55,
  :midi/statusMask [-64],
  :rdfs/comment "MIDI program change message.",
  :rdfs/label "Program Change",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about _6130660d9ea866f314feeca4d447b8b3,
  :midi/property :midi/benderValue,
  :midi/byteNumber [1 0]}
 {:rdf/about :midi/SongPosition,
  :midi/chunk _e44f6552a95d642b2962d1bde77d21da,
  :midi/status [-14],
  :rdfs/comment "MIDI song position pointer message.",
  :rdfs/label "Song Position",
  :rdfs/subClassOf :midi/SystemCommon,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/songPosition,
  :rdfs/comment
  "Song position in MIDI beats (16th notes) (-8192 to 8192).",
  :rdfs/range :xsd/short,
  :rdfs/label "song position",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/statusMask,
  :rdfs/comment
  "The status byte for a message of this type on channel 1.",
  :rdfs/range :midi/HexByte,
  :rdfs/label "status mask",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/songNumber,
  :rdfs/comment "The numeric ID of a song (0 to 127).",
  :rdfs/range :xsd/byte,
  :rdfs/label "song number",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _148b3156d0b2615e4724a5dacc430220, :xsd/maxInclusive "FF"}
 {:rdf/about :midi/velocity,
  :rdfs/comment "The velocity of a note message (0 to 127).",
  :rdfs/range :midi/HexByte,
  :rdfs/label "velocity",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/Controller,
  :midi/chunk
  [_b3a157594d96807bd17cedafd1f6553e
   _5463cd7de8e48140927e65c0bcb12caa],
  :midi/statusMask [-80],
  :rdfs/comment "MIDI controller change message.",
  :rdfs/label "Controller",
  :rdfs/subClassOf :midi/VoiceMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/noteNumber,
  :rdfs/comment "The numeric ID of a note (0 to 127).",
  :rdfs/range :xsd/byte,
  :rdfs/label "note number",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _74c663cfadee6170c93c6d5c0fe8bce7,
  :midi/property :midi/pressure,
  :midi/byteNumber 0}
 {:rdf/about :midi/SystemExclusive,
  :midi/status [-16],
  :rdfs/comment "MIDI system exclusive message.",
  :rdfs/label "System Exclusive",
  :rdfs/subClassOf :midi/SystemMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/Reset,
  :midi/status [-1],
  :rdfs/comment "MIDI reset message.",
  :rdfs/label "Reset",
  :rdfs/subClassOf :midi/SystemRealtime,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/Clock,
  :midi/status [-8],
  :rdfs/comment "MIDI clock message.",
  :rdfs/label "Clock",
  :rdfs/subClassOf :midi/SystemRealtime,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/SystemCommon,
  :rdfs/comment "MIDI system common message.",
  :rdfs/label "System Common",
  :rdfs/subClassOf :midi/SystemMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about :midi/SystemRealtime,
  :rdfs/comment "MIDI system realtime message.",
  :rdfs/label "System Realtime",
  :rdfs/subClassOf :midi/SystemMessage,
  :rdf/type :rdfs/Class}
 {:rdf/about _1100d2b318c21a531c0a5da84b105e82,
  :midi/property :midi/pressure,
  :midi/byteNumber 1}
 {:rdf/about :midi/chunk,
  :rdfs/comment "A chunk of a MIDI message.",
  :rdfs/label "MIDI chunk",
  :rdfs/range :midi/Chunk,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :midi/Chunk,
  :rdfs/comment "A sequence of contiguous bytes in a MIDI message.",
  :rdfs/label "Chunk",
  :rdf/type :rdfs/Class}
 {:rdf/about _b3a157594d96807bd17cedafd1f6553e,
  :midi/property :midi/controllerValue,
  :midi/byteNumber 1}
 {:rdf/about :midi/programNumber,
  :rdfs/comment "The numeric ID of a program (0 to 127).",
  :rdfs/range :xsd/byte,
  :rdfs/label "program number",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :midi/benderValue,
  :rdfs/comment "MIDI pitch bender message (-8192 to 8192).",
  :rdfs/range :xsd/short,
  :rdfs/label "bender value",
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}]
