^#:rdf{:ns-prefix-map
       {"opts" "http://lv2plug.in/ns/ext/options#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#"}}
[{:rdf/about :opts/supportedOption,
  :rdfs/comment "An option supported or by the instance.",
  :rdfs/label "supported option",
  :rdfs/range :rdf/Property,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :opts/requiredOption,
  :rdfs/comment
  "An option required by the instance to function at all.",
  :rdfs/label "required option",
  :rdfs/range :rdf/Property,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :opts/options,
  :rdfs/comment "The feature used to provide options to an instance.",
  :rdfs/label "options",
  :rdf/type :lv2/Feature}
 {:rdf/about :opts/Option,
  :rdfs/comment "A value for a static option passed to an instance.",
  :rdfs/subClassOf :rdf/Property,
  :rdfs/label "Option",
  :rdf/type :rdfs/Class}
 {:rdf/about :opts/interface,
  :rdfs/comment
  "An interface for dynamically setting and getting options.",
  :rdfs/label "interface",
  :rdf/type :lv2/ExtensionData}
 {:rdf/about "http://lv2plug.in/ns/ext/options",
  :owl/imports "http://lv2plug.in/ns/lv2core",
  :rdfs/seeAlso
  "https://gitlab.com/lv2/lv2/-/raw/master/lv2/options.lv2/options.meta.ttl",
  :rdfs/comment "Runtime options for LV2 plugins and UIs.",
  :rdfs/label "LV2 Options",
  :rdf/type :owl/Ontology}]
