^#:rdf{:ns-prefix-map
       {"owl" "http://www.w3.org/2002/07/owl#",
        "param" "http://lv2plug.in/ns/ext/parameters#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "pg" "http://lv2plug.in/ns/ext/port-groups#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "units" "http://lv2plug.in/ns/extensions/units#",
        "atom" "http://lv2plug.in/ns/ext/atom#"}}
[{:rdf/about :param/hold,
  :rdfs/comment "The duration of an envelope hold stage.",
  :rdfs/label "hold",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/type :lv2/Parameter,
  :lv2/default 0,
  :lv2/maximum 20,
  :lv2/minimum -20,
  :rdfs/label "gain",
  :rdf/about :param/gain,
  :units/unit :units/db,
  :rdfs/comment "Gain in decibels.",
  :rdfs/range :atom/Float}
 {:rdf/about :param/wetLevel,
  :rdfs/comment "The level of the processed component of a signal.",
  :rdfs/label "wet level",
  :rdf/type :lv2/Parameter}
 {:rdf/about _55e7b1cf71b226dbb45388a6fe8fea99,
  :lv2/designation :param/cutoffFrequency}
 {:rdf/about :param/waveform,
  :rdfs/comment
  "The waveform \"fader\" for oscillators or modulators that have several.",
  :rdfs/label "waveform",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about _0c1d0899efd252eed1e7dfaa02692130,
  :lv2/designation :param/pulseWidth}
 {:rdf/about :param/CompressorControls,
  :pg/element
  [_4f95cbf4d6d690b2017a4a1f69b72442
   _5f5c65f6e82cb13935db0362282de8b9],
  :rdfs/comment "Typical controls for a compressor.",
  :rdfs/label "Compressor Controls",
  :rdfs/subClassOf :param/ControlGroup,
  :rdf/type :rdfs/Class}
 {:rdf/about :param/frequency,
  :rdfs/comment "A frequency, typically in Hz.",
  :rdfs/label "frequency",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about _40c984f4c60fa577c12f41e5d9921dc5,
  :lv2/designation :param/hold,
  :lv2/index 2}
 {:rdf/about :param/dryLevel,
  :rdfs/comment "The level of the unprocessed component of a signal.",
  :rdfs/label "dry level",
  :rdf/type :lv2/Parameter}
 {:rdf/about _d14265794abc7fbe9b8a31b701a23c06,
  :lv2/designation :param/delay,
  :lv2/index 0}
 {:rdf/about :param/decay,
  :rdfs/comment "The duration of an envelope decay stage.",
  :rdfs/label "decay",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/OscillatorControls,
  :pg/element
  [_0c1d0899efd252eed1e7dfaa02692130
   _bfe1d3032d11f118476391848823ffd0
   _95e22a95e4afbb537cde1d1306ca9ef9
   _968787d6cd6ab805c22f777ea2b43372],
  :rdfs/comment "Typical controls for an oscillator.",
  :rdfs/label "Oscillator Controls",
  :rdfs/subClassOf :param/ControlGroup,
  :rdf/type :rdfs/Class}
 {:rdf/about _573a3870dccaef3f2216d69ee63da3ee,
  :lv2/designation :param/resonance}
 {:rdf/about _9db40a99a24dd675ab96b727e2f4abbc,
  :lv2/designation :param/attack,
  :lv2/index 1}
 {:rdf/about :param/FilterControls,
  :pg/element
  [_573a3870dccaef3f2216d69ee63da3ee
   _55e7b1cf71b226dbb45388a6fe8fea99],
  :rdfs/comment "Typical controls for a filter.",
  :rdfs/label "Filter Controls",
  :rdfs/subClassOf :param/ControlGroup,
  :rdf/type :rdfs/Class}
 {:rdf/about :param/cutoffFrequency,
  :rdfs/comment "The cutoff frequency, typically in Hz, for a filter.",
  :rdfs/label "cutoff frequency",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/pulseWidth,
  :rdfs/comment "The width of a pulse of a rectangular waveform.",
  :rdfs/label "pulse width",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/resonance,
  :rdfs/comment "The resonance of a filter.",
  :rdfs/label "resonance",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about _8aad370d1e3aa8b943833b7490de6186,
  :lv2/designation :param/sustain,
  :lv2/index 4}
 {:rdf/about _95e22a95e4afbb537cde1d1306ca9ef9,
  :lv2/designation :param/amplitude}
 {:rdf/about :param/sampleRate,
  :rdfs/comment "A sample rate in Hz.",
  :rdfs/label "sample rate",
  :rdf/type :lv2/Parameter}
 {:rdf/about _4f95cbf4d6d690b2017a4a1f69b72442,
  :lv2/designation :param/ratio}
 {:rdf/about :param/threshold,
  :rdfs/comment "Compression threshold.",
  :rdfs/label "threshold",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/ratio,
  :rdfs/comment "Compression ratio.",
  :rdfs/label "ratio",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about _d7eb549fa464a09d4222b3643f510c2f,
  :lv2/designation :param/release,
  :lv2/index 5}
 {:rdf/about :param/attack,
  :rdfs/comment "The duration of an envelope attack stage.",
  :rdfs/label "attack",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/bypass,
  :rdfs/comment
  "A boolean parameter that disables processing if true.",
  :rdfs/label "bypass",
  :rdf/type :lv2/Parameter}
 {:rdf/about _5f5c65f6e82cb13935db0362282de8b9,
  :lv2/designation :param/threshold}
 {:rdf/about :param/EnvelopeControls,
  :rdf/type :rdfs/Class,
  :pg/element
  [_40c984f4c60fa577c12f41e5d9921dc5
   _8aad370d1e3aa8b943833b7490de6186
   _a4cee4ea9a6800d8c195a50f12943b39
   _d7eb549fa464a09d4222b3643f510c2f
   _9db40a99a24dd675ab96b727e2f4abbc
   _d14265794abc7fbe9b8a31b701a23c06],
  :rdfs/comment "Typical controls for a DAHDSR envelope.",
  :rdfs/subClassOf :param/ControlGroup,
  :rdfs/label "Envelope Controls"}
 {:rdf/about _bfe1d3032d11f118476391848823ffd0,
  :lv2/designation :param/waveform}
 {:rdf/about :param/release,
  :rdfs/comment "The duration of an envelope release stage.",
  :rdfs/label "release",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/wetDryRatio,
  :rdfs/comment
  "The ratio between processed and bypassed levels in the output.",
  :rdfs/label "wet/dry ratio",
  :rdf/type :lv2/Parameter}
 {:rdf/about _a4cee4ea9a6800d8c195a50f12943b39,
  :lv2/designation :param/decay,
  :lv2/index 3}
 {:rdf/about :param/ControlGroup,
  :rdfs/comment "A group representing a set of associated controls.",
  :rdfs/label "Control Group",
  :rdfs/subClassOf :pg/Group,
  :rdf/type :rdfs/Class}
 {:rdf/about _968787d6cd6ab805c22f777ea2b43372,
  :lv2/designation :param/frequency}
 {:rdf/about :param/delay,
  :rdfs/comment "The duration of an envelope delay stage.",
  :rdfs/label "delay",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/amplitude,
  :rdfs/comment
  "An amplitude as a factor, where 0 is silent and 1 is unity.",
  :rdfs/label "amplitude",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about "http://lv2plug.in/ns/ext/parameters",
  :owl/imports
  ["http://lv2plug.in/ns/lv2core"
   "http://lv2plug.in/ns/ext/port-groups"
   "http://lv2plug.in/ns/ext/atom"],
  :rdfs/seeAlso
  "https://gitlab.com/lv2/lv2/-/raw/master/lv2/parameters.lv2/parameters.meta.ttl",
  :rdfs/comment "Common parameters for audio processing.",
  :rdfs/label "LV2 Parameters",
  :rdf/type :owl/Ontology}
 {:rdf/about :param/sustain,
  :rdfs/comment "The level of an envelope sustain stage as a factor.",
  :rdfs/range :atom/Float,
  :rdfs/label "sustain",
  :rdf/type :lv2/Parameter}]
