^#:rdf{:ns-prefix-map
       {"owl" "http://www.w3.org/2002/07/owl#",
        "param" "http://lv2plug.in/ns/ext/parameters#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "pg" "http://lv2plug.in/ns/ext/port-groups#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "units" "http://lv2plug.in/ns/extensions/units#",
        "atom" "http://lv2plug.in/ns/ext/atom#"}}
[{:rdf/about #:rdf{:blank "2d113e2cac912cc0a9f904f700935a8e"},
  :lv2/designation :param/release,
  :lv2/index 5}
 {:rdf/about :param/hold,
  :rdfs/comment "The duration of an envelope hold stage.",
  :rdfs/label "hold",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/type :lv2/Parameter,
  :lv2/default 0,
  :lv2/maximum 20,
  :lv2/minimum -20,
  :rdfs/label "gain",
  :rdf/about :param/gain,
  :units/unit :units/db,
  :rdfs/comment "Gain in decibels.",
  :rdfs/range :atom/Float}
 {:rdf/about #:rdf{:blank "6e4a3341f2195f950e07d5c951d787a6"},
  :lv2/designation :param/cutoffFrequency}
 {:rdf/about :param/wetLevel,
  :rdfs/comment "The level of the processed component of a signal.",
  :rdfs/label "wet level",
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/waveform,
  :rdfs/comment
  "The waveform \"fader\" for oscillators or modulators that have several.",
  :rdfs/label "waveform",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:blank "62985396777726829538d75586fb5c4a"},
  :lv2/designation :param/sustain,
  :lv2/index 4}
 {:rdf/about :param/CompressorControls,
  :pg/element
  [#:rdf{:blank "3432707daebf79a7006aa78904b45363"}
   #:rdf{:blank "54ae4c68ffa5827abe0b832c50128873"}],
  :rdfs/comment "Typical controls for a compressor.",
  :rdfs/label "Compressor Controls",
  :rdfs/subClassOf :param/ControlGroup,
  :rdf/type :rdfs/Class}
 {:rdf/about :param/frequency,
  :rdfs/comment "A frequency, typically in Hz.",
  :rdfs/label "frequency",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/dryLevel,
  :rdfs/comment "The level of the unprocessed component of a signal.",
  :rdfs/label "dry level",
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:blank "3432707daebf79a7006aa78904b45363"},
  :lv2/designation :param/ratio}
 {:rdf/about :param/decay,
  :rdfs/comment "The duration of an envelope decay stage.",
  :rdfs/label "decay",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/OscillatorControls,
  :pg/element
  [#:rdf{:blank "a56f64b6669ef81250f9231a6da20f36"}
   #:rdf{:blank "6c0307c39e1f9e113769a5bfd9278fc0"}
   #:rdf{:blank "9a8c8bca4535ed9d1809821627b358cc"}
   #:rdf{:blank "613b8c8dca4c74a24cea307fe3bf5796"}],
  :rdfs/comment "Typical controls for an oscillator.",
  :rdfs/label "Oscillator Controls",
  :rdfs/subClassOf :param/ControlGroup,
  :rdf/type :rdfs/Class}
 {:rdf/about #:rdf{:blank "00b315b217d88cf1242255c5679026f7"},
  :lv2/designation :param/hold,
  :lv2/index 2}
 {:rdf/about #:rdf{:blank "1f3a0892a3f3beb906e71c9007af616e"},
  :lv2/designation :param/resonance}
 {:rdf/about #:rdf{:blank "9a8c8bca4535ed9d1809821627b358cc"},
  :lv2/designation :param/amplitude}
 {:rdf/about :param/FilterControls,
  :pg/element
  [#:rdf{:blank "1f3a0892a3f3beb906e71c9007af616e"}
   #:rdf{:blank "6e4a3341f2195f950e07d5c951d787a6"}],
  :rdfs/comment "Typical controls for a filter.",
  :rdfs/label "Filter Controls",
  :rdfs/subClassOf :param/ControlGroup,
  :rdf/type :rdfs/Class}
 {:rdf/about #:rdf{:blank "7657767d25f7d5de80a08ffb5d2b3b40"},
  :lv2/designation :param/decay,
  :lv2/index 3}
 {:rdf/about :param/cutoffFrequency,
  :rdfs/comment "The cutoff frequency, typically in Hz, for a filter.",
  :rdfs/label "cutoff frequency",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/pulseWidth,
  :rdfs/comment "The width of a pulse of a rectangular waveform.",
  :rdfs/label "pulse width",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/resonance,
  :rdfs/comment "The resonance of a filter.",
  :rdfs/label "resonance",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:blank "a56f64b6669ef81250f9231a6da20f36"},
  :lv2/designation :param/pulseWidth}
 {:rdf/about #:rdf{:blank "97dd09ce7aee2e11ffd08e3974081b3d"},
  :lv2/designation :param/delay,
  :lv2/index 0}
 {:rdf/about #:rdf{:blank "adec49674487fc7c8f8669d219331dae"},
  :lv2/designation :param/attack,
  :lv2/index 1}
 {:rdf/about :param/sampleRate,
  :rdfs/comment "A sample rate in Hz.",
  :rdfs/label "sample rate",
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/threshold,
  :rdfs/comment "Compression threshold.",
  :rdfs/label "threshold",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/ratio,
  :rdfs/comment "Compression ratio.",
  :rdfs/label "ratio",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/attack,
  :rdfs/comment "The duration of an envelope attack stage.",
  :rdfs/label "attack",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/bypass,
  :rdfs/comment
  "A boolean parameter that disables processing if true.",
  :rdfs/label "bypass",
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:blank "6c0307c39e1f9e113769a5bfd9278fc0"},
  :lv2/designation :param/waveform}
 {:rdf/about :param/EnvelopeControls,
  :pg/element
  [#:rdf{:blank "7657767d25f7d5de80a08ffb5d2b3b40"}
   #:rdf{:blank "62985396777726829538d75586fb5c4a"}
   #:rdf{:blank "2d113e2cac912cc0a9f904f700935a8e"}
   #:rdf{:blank "adec49674487fc7c8f8669d219331dae"}
   #:rdf{:blank "97dd09ce7aee2e11ffd08e3974081b3d"}
   #:rdf{:blank "00b315b217d88cf1242255c5679026f7"}],
  :rdf/type :rdfs/Class,
  :rdfs/comment "Typical controls for a DAHDSR envelope.",
  :rdfs/subClassOf :param/ControlGroup,
  :rdfs/label "Envelope Controls"}
 {:rdf/about :param/release,
  :rdfs/comment "The duration of an envelope release stage.",
  :rdfs/label "release",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:blank "54ae4c68ffa5827abe0b832c50128873"},
  :lv2/designation :param/threshold}
 {:rdf/about :param/wetDryRatio,
  :rdfs/comment
  "The ratio between processed and bypassed levels in the output.",
  :rdfs/label "wet/dry ratio",
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:blank "613b8c8dca4c74a24cea307fe3bf5796"},
  :lv2/designation :param/frequency}
 {:rdf/about :param/ControlGroup,
  :rdfs/comment "A group representing a set of associated controls.",
  :rdfs/label "Control Group",
  :rdfs/subClassOf :pg/Group,
  :rdf/type :rdfs/Class}
 {:rdf/about :param/delay,
  :rdfs/comment "The duration of an envelope delay stage.",
  :rdfs/label "delay",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about :param/amplitude,
  :rdfs/comment
  "An amplitude as a factor, where 0 is silent and 1 is unity.",
  :rdfs/label "amplitude",
  :rdfs/range :atom/Float,
  :rdf/type :lv2/Parameter}
 {:rdf/about #:rdf{:uri "http://lv2plug.in/ns/ext/parameters"},
  :owl/imports
  [#:rdf{:uri "http://lv2plug.in/ns/lv2core"}
   #:rdf{:uri "http://lv2plug.in/ns/ext/port-groups"}
   #:rdf{:uri "http://lv2plug.in/ns/ext/atom"}],
  :rdfs/seeAlso
  #:rdf{:uri
        "https://gitlab.com/lv2/lv2/-/raw/master/lv2/parameters.lv2/parameters.meta.ttl"},
  :rdfs/comment "Common parameters for audio processing.",
  :rdfs/label "LV2 Parameters",
  :rdf/type :owl/Ontology}
 {:rdf/about :param/sustain,
  :rdfs/comment "The level of an envelope sustain stage as a factor.",
  :rdfs/range :atom/Float,
  :rdfs/label "sustain",
  :rdf/type :lv2/Parameter}]
