^#:rdf{:ns-prefix-map
       {"owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "pprops" "http://lv2plug.in/ns/ext/port-props#"}}
[{:rdf/about :pprops/displayPriority,
  :rdfs/comment
  "A priority ranking this port in importance to its plugin.",
  :rdfs/label "display priority",
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/domain :lv2/Port,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :pprops/notAutomatic,
  :rdfs/comment
  "Port that is not intended to be fed with a modulation signal.",
  :rdfs/label "not automatic",
  :rdf/type :lv2/PortProperty}
 {:rdf/about "<http://lv2plug.in/ns/ext/port-props>",
  :owl/imports "<http://lv2plug.in/ns/lv2core>",
  :rdfs/seeAlso
  "<https://gitlab.com/lv2/lv2/-/raw/master/lv2/port-props.lv2/port-props.meta.ttl>",
  :rdfs/comment "Various properties for LV2 plugin ports.",
  :rdfs/label "LV2 Port Properties",
  :rdf/type :owl/Ontology}
 {:rdf/about :pprops/logarithmic,
  :rdfs/comment "Port value is logarithmic.",
  :rdfs/label "logarithmic",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/discreteCV,
  :rdfs/comment "Port carries a discrete modulation signal.",
  :rdfs/label "discrete modulation signal",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/trigger,
  :rdfs/comment "Port is a momentary trigger.",
  :rdfs/label "trigger",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/hasStrictBounds,
  :rdfs/comment
  "Port has strict bounds which are not internally clamped.",
  :rdfs/label "has strict bounds",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/rangeSteps,
  :rdfs/comment
  "The number of even steps the range should be divided into.",
  :rdfs/label "range steps",
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/domain :lv2/Port,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :pprops/causesArtifacts,
  :rdfs/comment "Input port causes audible artifacts when changed.",
  :rdfs/label "changes cause artifacts",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/notOnGUI,
  :rdfs/comment "Port that should not be displayed on a GUI.",
  :rdfs/label "not on GUI",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/supportsStrictBounds,
  :rdfs/comment
  "A feature indicating plugin support for strict port bounds.",
  :rdfs/label "supports strict bounds",
  :rdf/type :lv2/Feature}
 {:rdf/about :pprops/continuousCV,
  :rdfs/comment "Port carries a smooth modulation signal.",
  :rdfs/label "smooth modulation signal",
  :rdf/type :lv2/PortProperty}
 {:rdf/about :pprops/expensive,
  :rdfs/comment "Input port is expensive to change.",
  :rdfs/label "changes are expensive",
  :rdf/type :lv2/PortProperty}]
