^#:rdf{:ns-prefix-map
       {"dcterms" "http://purl.org/dc/terms/",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "owl" "http://www.w3.org/2002/07/owl#"}}
[{:rdf/about :rdfs/Class,
  :rdfs/subClassOf :rdfs/Resource,
  :rdfs/label "Class",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/comment "The class of classes.",
  :rdf/type :rdfs/Class}
 {:rdf/about :rdfs/isDefinedBy,
  :rdfs/subPropertyOf :rdfs/seeAlso,
  :rdfs/range :rdfs/Resource,
  :rdfs/label "is defined by",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdfs/Resource,
  :rdfs/comment "The definition of the subject resource.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/Datatype,
  :rdfs/subClassOf :rdfs/Class,
  :rdfs/label "Datatype",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/comment "The class of RDF datatypes.",
  :rdf/type :rdfs/Class}
 {:rdf/about :rdfs/label,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "label",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdfs/Resource,
  :rdfs/comment "A human-readable name for the subject.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/domain,
  :rdfs/range :rdfs/Class,
  :rdfs/label "domain",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdf/Property,
  :rdfs/comment "A domain of the subject property.",
  :rdf/type :rdf/Property}
 {:rdf/about "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/seeAlso "<http://www.w3.org/2000/01/rdf-schema-more>",
  :dcterms/title "The RDF Schema vocabulary (RDFS)",
  :rdf/type :owl/Ontology}
 {:rdf/about :rdfs/Literal,
  :rdfs/subClassOf :rdfs/Resource,
  :rdfs/label "Literal",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/comment
  "The class of literal values, eg. textual strings and integers.",
  :rdf/type :rdfs/Class}
 {:rdf/about :rdfs/ContainerMembershipProperty,
  :rdfs/subClassOf :rdf/Property,
  :rdfs/label "Container Membership Property",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/comment
  "The class of container membership properties, rdf:_1, rdf:_2, ..., all of which are sub-properties of 'member'.",
  :rdf/type :rdfs/Class}
 {:rdf/about :rdfs/subPropertyOf,
  :rdfs/range :rdf/Property,
  :rdfs/label "sub-property of",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdf/Property,
  :rdfs/comment "The subject is a subproperty of a property.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/member,
  :rdfs/range :rdfs/Resource,
  :rdfs/label "member",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdfs/Resource,
  :rdfs/comment "A member of the subject resource.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/Container,
  :rdfs/subClassOf :rdfs/Resource,
  :rdfs/label "Container",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/comment "The class of RDF containers.",
  :rdf/type :rdfs/Class}
 {:rdf/about :rdfs/comment,
  :rdfs/range :rdfs/Literal,
  :rdfs/label "comment",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdfs/Resource,
  :rdfs/comment "A description of the subject resource.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/subClassOf,
  :rdfs/range :rdfs/Class,
  :rdfs/label "sub-class of",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdfs/Class,
  :rdfs/comment "The subject is a subclass of a class.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/Resource,
  :rdfs/label "Resource",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/comment "The class resource, everything.",
  :rdf/type :rdfs/Class}
 {:rdf/about :rdfs/range,
  :rdfs/range :rdfs/Class,
  :rdfs/label "range",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdf/Property,
  :rdfs/comment "A range of the subject property.",
  :rdf/type :rdf/Property}
 {:rdf/about :rdfs/seeAlso,
  :rdfs/range :rdfs/Resource,
  :rdfs/label "see also",
  :rdfs/isDefinedBy "<http://www.w3.org/2000/01/rdf-schema#>",
  :rdfs/domain :rdfs/Resource,
  :rdfs/comment "Further information about the subject resource.",
  :rdf/type :rdf/Property}]
