^#:rdf{:ns-prefix-map
       {"owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "rsz" "http://lv2plug.in/ns/ext/resize-port#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#"}}
[{:rdf/about "<http://lv2plug.in/ns/ext/resize-port>",
  :owl/imports "<http://lv2plug.in/ns/lv2core>",
  :rdfs/seeAlso
  "<https://gitlab.com/lv2/lv2/-/raw/master/lv2/resize-port.lv2/resize-port.meta.ttl>",
  :rdfs/comment "Dynamically sized LV2 port buffers.",
  :rdfs/label "LV2 Resize Port",
  :rdf/type :owl/Ontology}
 {:rdf/about :rsz/resize,
  :rdfs/comment "A feature for resizing output port buffers.",
  :rdfs/label "resize",
  :rdf/type :lv2/Feature}
 {:rdf/about :rsz/minimumSize,
  :rdfs/comment "Minimum buffer size required by a port, in bytes.",
  :rdfs/label "minimum size",
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/domain :lv2/Port,
  :rdf/type
  [:owl/FunctionalProperty :owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :rsz/asLargeAs,
  :rdfs/comment
  "Port that this port must have at least as much buffer space as.",
  :rdfs/label "as large as",
  :rdfs/range :lv2/Symbol,
  :rdfs/domain :lv2/Port,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}]
