^#:rdf{:ns-prefix-map
       {"lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "state" "http://lv2plug.in/ns/ext/state#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[{:rdf/about :state/loadDefaultState,
  :rdfs/comment
  "A feature indicating that the plugin has default state.",
  :rdfs/label "load default state",
  :rdf/type :lv2/Feature}
 {:rdf/about :state/makePath,
  :rdfs/comment "A feature for creating new files and directories.",
  :rdfs/label "make path",
  :rdf/type :lv2/Feature}
 {:rdf/about :state/freePath,
  :rdfs/comment "A feature for freeing paths allocated by the host.",
  :rdfs/label "free path",
  :rdf/type :lv2/Feature}
 {:rdf/about #:rdf{:uri "http://lv2plug.in/ns/ext/state"},
  :owl/imports #:rdf{:uri "http://lv2plug.in/ns/lv2core"},
  :rdfs/seeAlso
  #:rdf{:uri
        "https://gitlab.com/lv2/lv2/-/raw/master/lv2/state.lv2/state.meta.ttl"},
  :rdfs/comment
  "An interface for LV2 plugins to save and restore state.",
  :rdfs/label "LV2 State",
  :rdf/type :owl/Ontology}
 {:rdf/about :state/mapPath,
  :rdfs/comment
  "A feature for mapping between absolute and abstract file paths.",
  :rdfs/label "map path",
  :rdf/type :lv2/Feature}
 {:rdf/about :state/interface,
  :rdfs/comment "A plugin interface for saving and restoring state.",
  :rdfs/label "interface",
  :rdf/type :lv2/ExtensionData}
 {:rdf/about :state/threadSafeRestore,
  :rdfs/comment
  "A feature indicating support for thread-safe state restoration.",
  :rdfs/label "thread-safe restore",
  :rdf/type :lv2/Feature}
 {:rdf/about :state/StateChanged,
  :rdfs/comment
  "A notification that the internal state of the plugin has changed.",
  :rdfs/label "State Changed",
  :rdf/type :rdfs/Class}
 {:rdf/about :state/state,
  :rdfs/comment "The state of an LV2 plugin instance.",
  :rdfs/range :state/State,
  :rdfs/label "state",
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :state/State,
  :rdfs/comment "LV2 plugin state.",
  :rdfs/label "State",
  :rdf/type :rdfs/Class}]
