^#:rdf{:ns-prefix-map
       {"umap" "http://lv2plug.in/ns/ext/uri-map#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[{:rdf/about "http://lv2plug.in/ns/ext/uri-map",
  :rdfs/seeAlso
  "https://gitlab.com/lv2/lv2/-/raw/master/lv2/uri-map.lv2/uri-map.meta.ttl",
  :rdfs/comment "A feature for mapping URIs to integers.",
  :rdfs/label "LV2 URI Map",
  :owl/deprecated true,
  :rdf/type :lv2/Feature}]
