^#:rdf{:ns-prefix-map
       {"xsd" "http://www.w3.org/2001/XMLSchema#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "units" "http://lv2plug.in/ns/extensions/units#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[{:rdf/about :units/to,
  :rdfs/comment "The target unit this conversion converts to.",
  :rdfs/label "conversion target",
  :rdfs/range :units/Unit,
  :rdfs/domain :units/Conversion,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about _1ed2fea8811d03462d3204b8486bee94,
  :units/to :units/inch,
  :units/factor 39.37M}
 {:rdf/about _a37f6a6bdd6215399c50127e3f03097d,
  :units/to :units/inch,
  :units/factor 0.3937M}
 {:rdf/about "<http://lv2plug.in/ns/extensions/units>",
  :rdfs/seeAlso
  "<https://gitlab.com/lv2/lv2/-/raw/master/lv2/units.lv2/units.meta.ttl>",
  :rdfs/comment "Units for LV2 values.",
  :rdfs/label "LV2 Units",
  :rdf/type :owl/Ontology}
 {:rdf/about :units/semitone12TET,
  :units/symbol "semi",
  :units/render "%f semi",
  :rdfs/comment "A semitone in the 12-tone equal temperament scale.",
  :rdfs/label "semitones",
  :units/conversion _42cf65d7a593d106c72178699e639bb3,
  :rdf/type :units/Unit}
 {:rdf/about :units/symbol,
  :rdfs/comment "The abbreviated symbol for this unit (e.g., \"dB\").",
  :rdfs/range :xsd/string,
  :rdfs/domain :units/Unit,
  :rdfs/label "unit symbol",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _5a2d07c2d1453d933d9b9d4fdb29fee9,
  :units/to :units/hz,
  :units/factor 1000000}
 {:rdf/about _9454664f73e69344884ffb6c9dcce9c2,
  :units/to :units/min,
  :units/factor 0.0166666666M}
 {:rdf/about :units/render,
  :rdfs/comment
  "A printf format string for rendering a value (e.g., \"%f dB\").",
  :rdfs/range :xsd/string,
  :rdfs/domain :units/Unit,
  :rdfs/label "unit format string",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :units/beat,
  :units/symbol "beats",
  :units/render "%f beats",
  :rdfs/comment "Musical beats.",
  :rdfs/label "beats",
  :rdf/type :units/Unit}
 {:rdf/about :units/oct,
  :units/symbol "oct",
  :units/render "%f octaves",
  :rdfs/comment
  "Octaves, relative musical pitch where +1 octave doubles the frequency.",
  :rdfs/label "octaves",
  :units/conversion _3535260d3db1307edb442f5b2a80e659,
  :rdf/type :units/Unit}
 {:rdf/about :units/Conversion,
  :rdfs/comment "A conversion from one unit to another.",
  :rdfs/label "Conversion",
  :rdfs/subClassOf _9d95531ed0ac1b54b42c46ad0af0096b,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :units/conversion,
  :rdfs/comment "A conversion from this unit to another.",
  :rdfs/label "conversion",
  :rdfs/range :units/Conversion,
  :rdfs/domain :units/Unit,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :units/mhz,
  :units/symbol "MHz",
  :units/render "%f MHz",
  :units/prefixConversion
  [_13b2148d5a219a5ac6a5dcddc4959c59
   _5a2d07c2d1453d933d9b9d4fdb29fee9],
  :rdfs/comment "Megahertz (millions of Hertz).",
  :rdfs/label "megahertz",
  :rdf/type :units/Unit}
 {:rdf/about :units/bpm,
  :units/symbol "BPM",
  :units/render "%f BPM",
  :units/prefixConversion _fe1978249d9823542d49333f184fa12b,
  :rdfs/comment
  "Beats Per Minute (BPM), the standard unit for musical tempo.",
  :rdfs/label "beats per minute",
  :rdf/type :units/Unit}
 {:rdf/about :units/mile,
  :units/symbol "mi",
  :units/render "%f mi",
  :rdfs/comment "A mile, defined as exactly 1609.344 metres.",
  :rdfs/label "miles",
  :units/conversion _bd0242bdb278b2876e32466728ad977f,
  :rdf/type :units/Unit}
 {:rdf/about _428fec0f3d08ec8a54251ecd76bd9528,
  :units/to :units/km,
  :units/factor 0.001M}
 {:rdf/about :units/midiNote,
  :units/symbol "note",
  :units/render "MIDI note %d",
  :rdfs/comment "A MIDI note number.",
  :rdfs/label "MIDI note",
  :rdf/type :units/Unit}
 {:rdf/about :units/pc,
  :units/symbol "%",
  :units/render "%f%%",
  :rdfs/comment "Percentage, a ratio as a fraction of 100.",
  :rdfs/label "percent",
  :units/conversion _e5f15a6962cac82bcc6ecb8d98679a8c,
  :rdf/type :units/Unit}
 {:rdf/about _46a83bbb4cf2b8f2d1f9f737d6f77552,
  :units/to :units/mm,
  :units/factor 1000000}
 {:rdf/about :units/khz,
  :units/symbol "kHz",
  :units/render "%f kHz",
  :units/prefixConversion
  [_7a431e6a6df0de8b08a8dd688b2f26ba
   _40e2a9a52b038242bc66061cf6a2f943],
  :rdfs/comment "Kilohertz (thousands of Hertz).",
  :rdfs/label "kilohertz",
  :rdf/type :units/Unit}
 {:rdf/about _fe1978249d9823542d49333f184fa12b,
  :units/to :units/hz,
  :units/factor 0.0166666666M}
 {:rdf/about :units/hz,
  :units/symbol "Hz",
  :units/render "%f Hz",
  :units/prefixConversion
  [_9113e92f212d6304e64c5d9f6c61f1b2
   _891a00105f58178b8ca3c76fbcad8e03],
  :rdfs/comment
  "Hertz, or inverse seconds, the SI derived unit for frequency.",
  :rdfs/label "hertz",
  :rdf/type :units/Unit}
 {:rdf/about _79f973149e64d50f03921db1d72f952c,
  :units/to :units/mm,
  :units/factor 10}
 {:rdf/about _e5f15a6962cac82bcc6ecb8d98679a8c,
  :units/to :units/coef,
  :units/factor 0.01M}
 {:rdf/about _101c2469a8f2691318ef787b5f254abe,
  :units/to :units/m,
  :units/factor 0.001M}
 {:rdf/about _49337c06144de605ef4afbb9baa47fd8,
  :units/to :units/m,
  :units/factor 0.01M}
 {:rdf/about _055a3f818b22c8c8a55d01afb0f3e21d,
  :units/to :units/s,
  :units/factor 60}
 {:rdf/about _be7a7eff386157eff60f8a325e5a224a,
  :units/to :units/inch,
  :units/factor 0.03937M}
 {:rdf/about _616f7f121cd6e6a65ea672bc9438a2ca,
  :units/to :units/km,
  :units/factor 0.00001M}
 {:rdf/about :units/factor,
  :rdfs/comment
  "The factor to multiply the source value by in order to convert to the target unit.",
  :rdfs/label "conversion factor",
  :rdfs/domain :units/Conversion,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _cdbdb3cb8481f4deb8fbbaff7df001d7,
  :units/to :units/mm,
  :units/factor 1000}
 {:rdf/about _9113e92f212d6304e64c5d9f6c61f1b2,
  :units/to :units/mhz,
  :units/factor 0.000001M}
 {:rdf/about :units/coef,
  :units/symbol "",
  :units/render "* %f",
  :rdfs/comment
  "A scale coefficient where 1 is unity, or 100 percent.",
  :rdfs/label "coefficient",
  :units/conversion _aae5457f8198dbd883f88a3bae8676e9,
  :rdf/type :units/Unit}
 {:rdf/about :units/degree,
  :units/symbol "deg",
  :units/render "%f deg",
  :rdfs/comment "An angle where 360 degrees is one full rotation.",
  :rdfs/label "degrees",
  :rdf/type :units/Unit}
 {:rdf/about _4694cdd478fd7f1c4c788661793cf294,
  :units/to :units/cm,
  :units/factor 0.1M}
 {:rdf/about :units/cm,
  :units/symbol "cm",
  :units/render "%f cm",
  :units/prefixConversion
  [_616f7f121cd6e6a65ea672bc9438a2ca
   _79f973149e64d50f03921db1d72f952c
   _49337c06144de605ef4afbb9baa47fd8],
  :rdfs/comment "Centimetres (hundredths of metres).",
  :rdfs/label "centimetres",
  :units/conversion _a37f6a6bdd6215399c50127e3f03097d,
  :rdf/type :units/Unit}
 {:rdf/about _9d95531ed0ac1b54b42c46ad0af0096b,
  :rdfs/comment "A conversion MUST have exactly 1 units:to property.",
  :owl/cardinality 1,
  :owl/onProperty :units/to,
  :rdf/type :owl/Restriction}
 {:rdf/about _1b9e421de37a45def749eb98f13b72ff,
  :units/to :units/km,
  :units/factor 0.000001M}
 {:rdf/about :units/inch,
  :units/symbol "in",
  :units/render "%f\"",
  :rdfs/comment "An inch, defined as exactly 0.0254 metres.",
  :rdfs/label "inches",
  :units/conversion _c3c431b0c4b45a662df20ee080b56e81,
  :rdf/type :units/Unit}
 {:rdf/about :units/bar,
  :units/symbol "bars",
  :units/render "%f bars",
  :rdfs/comment "Musical bars or measures.",
  :rdfs/label "bars",
  :rdf/type :units/Unit}
 {:rdf/about :units/s,
  :units/symbol "s",
  :units/render "%f s",
  :units/prefixConversion _92d0f51e1245c4f2b3ccc1b7b4e276b5,
  :rdfs/comment "Seconds, the SI base unit for time.",
  :rdfs/label "seconds",
  :units/conversion _9454664f73e69344884ffb6c9dcce9c2,
  :rdf/type :units/Unit}
 {:rdf/about _42cf65d7a593d106c72178699e639bb3,
  :units/to :units/oct,
  :units/factor 0.083333333M}
 {:rdf/about _7a431e6a6df0de8b08a8dd688b2f26ba,
  :units/to :units/mhz,
  :units/factor 0.001M}
 {:rdf/about :units/prefixConversion,
  :rdfs/comment
  "A conversion from this unit to another with the same base but a different prefix.",
  :rdfs/label "prefix conversion",
  :rdfs/range :units/Conversion,
  :rdfs/domain :units/Unit,
  :rdfs/subPropertyOf :units/conversion,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :units/cent,
  :units/symbol "ct",
  :units/render "%f ct",
  :rdfs/comment "Cents (hundredths of semitones).",
  :rdfs/label "cents",
  :units/conversion _09fad14d07f804d0d204fa980ac02c55,
  :rdf/type :units/Unit}
 {:rdf/about _c3c431b0c4b45a662df20ee080b56e81,
  :units/to :units/m,
  :units/factor 0.0254M}
 {:rdf/about :units/min,
  :units/symbol "min",
  :units/render "%f mins",
  :rdfs/comment "Minutes (60s of seconds and 60ths of an hour).",
  :rdfs/label "minutes",
  :units/conversion _055a3f818b22c8c8a55d01afb0f3e21d,
  :rdf/type :units/Unit}
 {:rdf/about _40e2a9a52b038242bc66061cf6a2f943,
  :units/to :units/hz,
  :units/factor 1000}
 {:rdf/about _92d0f51e1245c4f2b3ccc1b7b4e276b5,
  :units/to :units/ms,
  :units/factor 1000}
 {:rdf/about _55f06d5fa198c2c209eb76ae7d5fe014,
  :units/to :units/s,
  :units/factor 0.001M}
 {:rdf/about _bd0242bdb278b2876e32466728ad977f,
  :units/to :units/m,
  :units/factor 1609.344M}
 {:rdf/about :units/ms,
  :units/symbol "ms",
  :units/render "%f ms",
  :units/prefixConversion _55f06d5fa198c2c209eb76ae7d5fe014,
  :rdfs/comment "Milliseconds (thousandths of seconds).",
  :rdfs/label "milliseconds",
  :rdf/type :units/Unit}
 {:rdf/about _9d65670edf2e77aec1c068978fb1b769,
  :units/to :units/m,
  :units/factor 1000}
 {:rdf/about :units/Unit,
  :rdfs/comment "A unit for a control value.",
  :rdfs/label "Unit",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :units/unit,
  :rdfs/comment "The unit used by the value of a port or parameter.",
  :rdfs/label "unit",
  :rdfs/range :units/Unit,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about _891a00105f58178b8ca3c76fbcad8e03,
  :units/to :units/khz,
  :units/factor 0.001M}
 {:rdf/about :units/m,
  :units/symbol "m",
  :units/render "%f m",
  :units/prefixConversion
  [_428fec0f3d08ec8a54251ecd76bd9528
   _cdbdb3cb8481f4deb8fbbaff7df001d7
   _91d3057171b797d3814bd892ff42a273],
  :rdfs/comment "Metres, the SI base unit for length.",
  :rdfs/label "metres",
  :units/conversion _1ed2fea8811d03462d3204b8486bee94,
  :rdf/type :units/Unit}
 {:rdf/about :units/frame,
  :units/symbol "frames",
  :units/render "%f frames",
  :rdfs/comment "Audio frames or samples.",
  :rdfs/label "audio frames",
  :rdf/type :units/Unit}
 {:rdf/about :units/km,
  :units/symbol "km",
  :units/render "%f km",
  :units/prefixConversion
  [_46a83bbb4cf2b8f2d1f9f737d6f77552
   _645b532ba28910028a81c3dfbb8a7c4b
   _9d65670edf2e77aec1c068978fb1b769],
  :rdfs/comment "Kilometres (thousands of metres).",
  :rdfs/label "kilometres",
  :units/conversion _6387a054d9a546740b91cd8a0459b7ec,
  :rdf/type :units/Unit}
 {:rdf/about _09fad14d07f804d0d204fa980ac02c55,
  :units/to :units/semitone12TET,
  :units/factor 0.01M}
 {:rdf/about :units/mm,
  :units/symbol "mm",
  :units/render "%f mm",
  :units/prefixConversion
  [_1b9e421de37a45def749eb98f13b72ff
   _4694cdd478fd7f1c4c788661793cf294
   _101c2469a8f2691318ef787b5f254abe],
  :rdfs/comment "Millimetres (thousandths of metres).",
  :rdfs/label "millimetres",
  :units/conversion _be7a7eff386157eff60f8a325e5a224a,
  :rdf/type :units/Unit}
 {:rdf/about _aae5457f8198dbd883f88a3bae8676e9,
  :units/to :units/pc,
  :units/factor 100}
 {:rdf/about :units/db,
  :units/symbol "dB",
  :units/render "%f dB",
  :rdfs/comment
  "Decibels, a logarithmic relative unit where 0 is unity.",
  :rdfs/label "decibels",
  :rdf/type :units/Unit}
 {:rdf/about _645b532ba28910028a81c3dfbb8a7c4b,
  :units/to :units/cm,
  :units/factor 100000}
 {:rdf/about _3535260d3db1307edb442f5b2a80e659,
  :units/to :units/semitone12TET,
  :units/factor 12}
 {:rdf/about _13b2148d5a219a5ac6a5dcddc4959c59,
  :units/to :units/khz,
  :units/factor 0.001M}
 {:rdf/about _6387a054d9a546740b91cd8a0459b7ec,
  :units/to :units/mile,
  :units/factor 0.62138818M}
 {:rdf/about _91d3057171b797d3814bd892ff42a273,
  :units/to :units/cm,
  :units/factor 100}]
