^#:rdf{:ns-prefix-map
       {"xsd" "http://www.w3.org/2001/XMLSchema#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "units" "http://lv2plug.in/ns/extensions/units#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[{:rdf/about _4d46e42869225de96737226b45fe8824,
  :units/to :units/km,
  :units/factor 0.00001M}
 {:rdf/about :units/to,
  :rdfs/comment "The target unit this conversion converts to.",
  :rdfs/label "conversion target",
  :rdfs/range :units/Unit,
  :rdfs/domain :units/Conversion,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about _4bfe1c59e921362b11d6b1c346421fb1,
  :units/to :units/cm,
  :units/factor 100000}
 {:rdf/about "http://lv2plug.in/ns/extensions/units",
  :rdfs/seeAlso
  "https://gitlab.com/lv2/lv2/-/raw/master/lv2/units.lv2/units.meta.ttl",
  :rdfs/comment "Units for LV2 values.",
  :rdfs/label "LV2 Units",
  :rdf/type :owl/Ontology}
 {:rdf/about :units/semitone12TET,
  :units/symbol "semi",
  :units/render "%f semi",
  :rdfs/comment "A semitone in the 12-tone equal temperament scale.",
  :rdfs/label "semitones",
  :units/conversion _8eefea9d36d11e014e0bec00e858ef45,
  :rdf/type :units/Unit}
 {:rdf/about :units/symbol,
  :rdfs/comment "The abbreviated symbol for this unit (e.g., \"dB\").",
  :rdfs/range :xsd/string,
  :rdfs/domain :units/Unit,
  :rdfs/label "unit symbol",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _18591e99b0761265484e7a31832ecc17,
  :units/to :units/km,
  :units/factor 0.001M}
 {:rdf/about _f4e897d8440b21677c37b55c79668da9,
  :units/to :units/mhz,
  :units/factor 0.001M}
 {:rdf/about _b0113b2e2da14c3e109e8bc8c07ac51f,
  :units/to :units/mhz,
  :units/factor 0.000001M}
 {:rdf/about :units/render,
  :rdfs/comment
  "A printf format string for rendering a value (e.g., \"%f dB\").",
  :rdfs/range :xsd/string,
  :rdfs/domain :units/Unit,
  :rdfs/label "unit format string",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :units/beat,
  :units/symbol "beats",
  :units/render "%f beats",
  :rdfs/comment "Musical beats.",
  :rdfs/label "beats",
  :rdf/type :units/Unit}
 {:rdf/about :units/oct,
  :units/symbol "oct",
  :units/render "%f octaves",
  :rdfs/comment
  "Octaves, relative musical pitch where +1 octave doubles the frequency.",
  :rdfs/label "octaves",
  :units/conversion _9dd428951ea8b91e158c32f62d5f8955,
  :rdf/type :units/Unit}
 {:rdf/about :units/Conversion,
  :rdfs/comment "A conversion from one unit to another.",
  :rdfs/label "Conversion",
  :rdfs/subClassOf _41adba8ac8db3f048cccfe580ecaf5c2,
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :units/conversion,
  :rdfs/comment "A conversion from this unit to another.",
  :rdfs/label "conversion",
  :rdfs/range :units/Conversion,
  :rdfs/domain :units/Unit,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :units/mhz,
  :units/symbol "MHz",
  :units/render "%f MHz",
  :units/prefixConversion
  [_da522e2f6e13e77ecc1d6438aa493db8
   _ac12486b7802cedeadde9c73cf8c45fa],
  :rdfs/comment "Megahertz (millions of Hertz).",
  :rdfs/label "megahertz",
  :rdf/type :units/Unit}
 {:rdf/about _27c9d3e03eb2da07f90e5996b74b31d9,
  :units/to :units/pc,
  :units/factor 100}
 {:rdf/about :units/bpm,
  :units/symbol "BPM",
  :units/render "%f BPM",
  :units/prefixConversion _2d3277c3301d65ae27170b2290798497,
  :rdfs/comment
  "Beats Per Minute (BPM), the standard unit for musical tempo.",
  :rdfs/label "beats per minute",
  :rdf/type :units/Unit}
 {:rdf/about :units/mile,
  :units/symbol "mi",
  :units/render "%f mi",
  :rdfs/comment "A mile, defined as exactly 1609.344 metres.",
  :rdfs/label "miles",
  :units/conversion _1d34768b050347b7d6fdb03fb6625618,
  :rdf/type :units/Unit}
 {:rdf/about _8316913ce8991215fb671a86fc6a4505,
  :units/to :units/hz,
  :units/factor 1000}
 {:rdf/about _c10df7c385f9516ad9399cb263c31570,
  :units/to :units/inch,
  :units/factor 0.3937M}
 {:rdf/about :units/midiNote,
  :units/symbol "note",
  :units/render "MIDI note %d",
  :rdfs/comment "A MIDI note number.",
  :rdfs/label "MIDI note",
  :rdf/type :units/Unit}
 {:rdf/about :units/pc,
  :units/symbol "%",
  :units/render "%f%%",
  :rdfs/comment "Percentage, a ratio as a fraction of 100.",
  :rdfs/label "percent",
  :units/conversion _24918db7bd9ec98733c07c97c6c06f57,
  :rdf/type :units/Unit}
 {:rdf/about :units/khz,
  :units/symbol "kHz",
  :units/render "%f kHz",
  :units/prefixConversion
  [_f4e897d8440b21677c37b55c79668da9
   _8316913ce8991215fb671a86fc6a4505],
  :rdfs/comment "Kilohertz (thousands of Hertz).",
  :rdfs/label "kilohertz",
  :rdf/type :units/Unit}
 {:rdf/about :units/hz,
  :units/symbol "Hz",
  :units/render "%f Hz",
  :units/prefixConversion
  [_b0113b2e2da14c3e109e8bc8c07ac51f
   _8c7bd4e9062c9e97e13743ca2afdacd3],
  :rdfs/comment
  "Hertz, or inverse seconds, the SI derived unit for frequency.",
  :rdfs/label "hertz",
  :rdf/type :units/Unit}
 {:rdf/about _5b48d464e46fbd04031e9aec78163c32,
  :units/to :units/inch,
  :units/factor 0.03937M}
 {:rdf/about _9dd428951ea8b91e158c32f62d5f8955,
  :units/to :units/semitone12TET,
  :units/factor 12}
 {:rdf/about _da522e2f6e13e77ecc1d6438aa493db8,
  :units/to :units/khz,
  :units/factor 0.001M}
 {:rdf/about :units/factor,
  :rdfs/comment
  "The factor to multiply the source value by in order to convert to the target unit.",
  :rdfs/label "conversion factor",
  :rdfs/domain :units/Conversion,
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _8eefea9d36d11e014e0bec00e858ef45,
  :units/to :units/oct,
  :units/factor 0.083333333M}
 {:rdf/about :units/coef,
  :units/symbol "",
  :units/render "* %f",
  :rdfs/comment
  "A scale coefficient where 1 is unity, or 100 percent.",
  :rdfs/label "coefficient",
  :units/conversion _27c9d3e03eb2da07f90e5996b74b31d9,
  :rdf/type :units/Unit}
 {:rdf/about _8e63c922d53f6fb9c45779063559ae45,
  :units/to :units/s,
  :units/factor 60}
 {:rdf/about :units/degree,
  :units/symbol "deg",
  :units/render "%f deg",
  :rdfs/comment "An angle where 360 degrees is one full rotation.",
  :rdfs/label "degrees",
  :rdf/type :units/Unit}
 {:rdf/about _22adcdff0f2147c4e3f028a31ae96f55,
  :units/to :units/cm,
  :units/factor 0.1M}
 {:rdf/about _ffff4fce9ef5e0ebcb0fbb9f2a0a14c7,
  :units/to :units/m,
  :units/factor 0.01M}
 {:rdf/about _41adba8ac8db3f048cccfe580ecaf5c2,
  :rdfs/comment "A conversion MUST have exactly 1 units:to property.",
  :owl/cardinality 1,
  :owl/onProperty :units/to,
  :rdf/type :owl/Restriction}
 {:rdf/about _1cc30c47185e424e6b859d7bdf620d88,
  :units/to :units/s,
  :units/factor 0.001M}
 {:rdf/about :units/cm,
  :units/symbol "cm",
  :units/render "%f cm",
  :units/prefixConversion
  [_4d46e42869225de96737226b45fe8824
   _645ba2625e8adc9564f62bb748363582
   _ffff4fce9ef5e0ebcb0fbb9f2a0a14c7],
  :rdfs/comment "Centimetres (hundredths of metres).",
  :rdfs/label "centimetres",
  :units/conversion _c10df7c385f9516ad9399cb263c31570,
  :rdf/type :units/Unit}
 {:rdf/about :units/inch,
  :units/symbol "in",
  :units/render "%f\"",
  :rdfs/comment "An inch, defined as exactly 0.0254 metres.",
  :rdfs/label "inches",
  :units/conversion _36e7ad2518f939cfaade5f1b3dc04fd5,
  :rdf/type :units/Unit}
 {:rdf/about _4c3dc35ee1f2db1afbf84f4bc354f893,
  :units/to :units/m,
  :units/factor 0.001M}
 {:rdf/about _73040c3c81643645db0dfc359da72a5d,
  :units/to :units/mm,
  :units/factor 1000}
 {:rdf/about :units/bar,
  :units/symbol "bars",
  :units/render "%f bars",
  :rdfs/comment "Musical bars or measures.",
  :rdfs/label "bars",
  :rdf/type :units/Unit}
 {:rdf/about :units/s,
  :units/symbol "s",
  :units/render "%f s",
  :units/prefixConversion _9d808636b65fe2cf43a8c91cb2840a2e,
  :rdfs/comment "Seconds, the SI base unit for time.",
  :rdfs/label "seconds",
  :units/conversion _422a36b36773394ac9dc86cfbd6f8f04,
  :rdf/type :units/Unit}
 {:rdf/about _ac12486b7802cedeadde9c73cf8c45fa,
  :units/to :units/hz,
  :units/factor 1000000}
 {:rdf/about :units/prefixConversion,
  :rdfs/comment
  "A conversion from this unit to another with the same base but a different prefix.",
  :rdfs/label "prefix conversion",
  :rdfs/range :units/Conversion,
  :rdfs/domain :units/Unit,
  :rdfs/subPropertyOf :units/conversion,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :units/cent,
  :units/symbol "ct",
  :units/render "%f ct",
  :rdfs/comment "Cents (hundredths of semitones).",
  :rdfs/label "cents",
  :units/conversion _ddb87f4feb944f49d9a4df74b7ce7117,
  :rdf/type :units/Unit}
 {:rdf/about _9a049b0c46e1c5941c596179a9666874,
  :units/to :units/mm,
  :units/factor 1000000}
 {:rdf/about :units/min,
  :units/symbol "min",
  :units/render "%f mins",
  :rdfs/comment "Minutes (60s of seconds and 60ths of an hour).",
  :rdfs/label "minutes",
  :units/conversion _8e63c922d53f6fb9c45779063559ae45,
  :rdf/type :units/Unit}
 {:rdf/about _cf84894edffcad00e2462cf1a0d7b295,
  :units/to :units/km,
  :units/factor 0.000001M}
 {:rdf/about _422a36b36773394ac9dc86cfbd6f8f04,
  :units/to :units/min,
  :units/factor 0.0166666666M}
 {:rdf/about :units/ms,
  :units/symbol "ms",
  :units/render "%f ms",
  :units/prefixConversion _1cc30c47185e424e6b859d7bdf620d88,
  :rdfs/comment "Milliseconds (thousandths of seconds).",
  :rdfs/label "milliseconds",
  :rdf/type :units/Unit}
 {:rdf/about :units/Unit,
  :rdfs/comment "A unit for a control value.",
  :rdfs/label "Unit",
  :rdf/type [:owl/Class :rdfs/Class]}
 {:rdf/about :units/unit,
  :rdfs/comment "The unit used by the value of a port or parameter.",
  :rdfs/label "unit",
  :rdfs/range :units/Unit,
  :rdf/type [:owl/ObjectProperty :rdf/Property]}
 {:rdf/about :units/m,
  :units/symbol "m",
  :units/render "%f m",
  :units/prefixConversion
  [_18591e99b0761265484e7a31832ecc17
   _73040c3c81643645db0dfc359da72a5d
   _5aed72b52c86008b7315df04314a64bc],
  :rdfs/comment "Metres, the SI base unit for length.",
  :rdfs/label "metres",
  :units/conversion _8d0135f53c3fb09229aa9d0e7ec7ad2c,
  :rdf/type :units/Unit}
 {:rdf/about :units/frame,
  :units/symbol "frames",
  :units/render "%f frames",
  :rdfs/comment "Audio frames or samples.",
  :rdfs/label "audio frames",
  :rdf/type :units/Unit}
 {:rdf/about _24918db7bd9ec98733c07c97c6c06f57,
  :units/to :units/coef,
  :units/factor 0.01M}
 {:rdf/about _9d808636b65fe2cf43a8c91cb2840a2e,
  :units/to :units/ms,
  :units/factor 1000}
 {:rdf/about :units/km,
  :units/symbol "km",
  :units/render "%f km",
  :units/prefixConversion
  [_9a049b0c46e1c5941c596179a9666874
   _4bfe1c59e921362b11d6b1c346421fb1
   _d3eebc38320acca04d11ad59e92c22c6],
  :rdfs/comment "Kilometres (thousands of metres).",
  :rdfs/label "kilometres",
  :units/conversion _dc2be9937f8975ae114442685ac9c974,
  :rdf/type :units/Unit}
 {:rdf/about _8c7bd4e9062c9e97e13743ca2afdacd3,
  :units/to :units/khz,
  :units/factor 0.001M}
 {:rdf/about _1d34768b050347b7d6fdb03fb6625618,
  :units/to :units/m,
  :units/factor 1609.344M}
 {:rdf/about :units/mm,
  :units/symbol "mm",
  :units/render "%f mm",
  :units/prefixConversion
  [_cf84894edffcad00e2462cf1a0d7b295
   _22adcdff0f2147c4e3f028a31ae96f55
   _4c3dc35ee1f2db1afbf84f4bc354f893],
  :rdfs/comment "Millimetres (thousandths of metres).",
  :rdfs/label "millimetres",
  :units/conversion _5b48d464e46fbd04031e9aec78163c32,
  :rdf/type :units/Unit}
 {:rdf/about _8d0135f53c3fb09229aa9d0e7ec7ad2c,
  :units/to :units/inch,
  :units/factor 39.37M}
 {:rdf/about _dc2be9937f8975ae114442685ac9c974,
  :units/to :units/mile,
  :units/factor 0.62138818M}
 {:rdf/about _ddb87f4feb944f49d9a4df74b7ce7117,
  :units/to :units/semitone12TET,
  :units/factor 0.01M}
 {:rdf/about _2d3277c3301d65ae27170b2290798497,
  :units/to :units/hz,
  :units/factor 0.0166666666M}
 {:rdf/about :units/db,
  :units/symbol "dB",
  :units/render "%f dB",
  :rdfs/comment
  "Decibels, a logarithmic relative unit where 0 is unity.",
  :rdfs/label "decibels",
  :rdf/type :units/Unit}
 {:rdf/about _d3eebc38320acca04d11ad59e92c22c6,
  :units/to :units/m,
  :units/factor 1000}
 {:rdf/about _36e7ad2518f939cfaade5f1b3dc04fd5,
  :units/to :units/m,
  :units/factor 0.0254M}
 {:rdf/about _5aed72b52c86008b7315df04314a64bc,
  :units/to :units/cm,
  :units/factor 100}
 {:rdf/about _645ba2625e8adc9564f62bb748363582,
  :units/to :units/mm,
  :units/factor 10}]
