^#:rdf{:ns-prefix-map
       {"owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "work" "http://lv2plug.in/ns/ext/worker#",
        "xsd" "http://www.w3.org/2001/XMLSchema#",
        "lv2" "http://lv2plug.in/ns/lv2core#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#"}}
[{:rdf/about :work/interface,
  :rdfs/comment "The work interface provided by a plugin.",
  :rdfs/label "work interface",
  :rdf/type :lv2/ExtensionData}
 {:rdf/about "<http://lv2plug.in/ns/ext/worker>",
  :rdfs/seeAlso
  "<https://gitlab.com/lv2/lv2/-/raw/master/lv2/worker.lv2/worker.meta.ttl>",
  :owl/imports "<http://lv2plug.in/ns/lv2core>",
  :rdfs/comment "Support for doing non-realtime work in plugins.",
  :rdfs/label "LV2 Worker",
  :rdf/type :owl/Ontology}
 {:rdf/about :work/schedule,
  :rdfs/comment "The work scheduling feature provided by a host.",
  :rdfs/label "work schedule",
  :rdf/type :lv2/Feature}]
