^#:rdf{:ns-prefix-map
       {"xsd" "http://www.w3.org/2001/XMLSchema#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[#:rdf{:about _418e4aa1fa62f806969fa5ca00f6a47b,
       :rest _937d3d27986faad8bb9045a53417b832,
       :first _4947b43f7a8f8ee0598e9fb4be114ee5}
 {:rdf/about _79032e4c942ee82db0df719f2d86d88c,
  :xsd/pattern
  "-?P([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+(\\.[0-9]+)?S)?)?"}
 {:rdf/about :xsd/unsignedShort,
  :owl/withRestrictions _db1e792749ba07a77c049426cbdf4952,
  :owl/onDatatype :xsd/unsignedInt,
  :rdfs/label "unsigned short",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/nonPositiveInteger,
  :owl/withRestrictions _760c8f9527d762916aab8fd275671a2e,
  :owl/onDatatype :xsd/integer,
  :rdfs/label "non-positive integer",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _930d68d14d9f228edf7d733bc406726b,
       :rest _e8a5f915a1a6666e4a00acb6cbb6a42a,
       :first _c10146b0e22a7773332b01573e381413}
 {:rdf/about :xsd/language,
  :owl/withRestrictions _1c4efbf2a1186a2bb11bc1638ac57c46,
  :owl/onDatatype :xsd/token,
  :rdfs/label "language",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _bd26a833f855c67fb864daa592be868f,
  :xsd/whiteSpace "collapse"}
 {:rdf/about :xsd/positiveInteger,
  :owl/withRestrictions _930d68d14d9f228edf7d733bc406726b,
  :owl/onDatatype :xsd/nonNegativeInteger,
  :rdfs/label "positive integer",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _efdf4f20440ba0011f2d88e6f1ae23de,
       :rest :rdf/nil,
       :first _da8c3f9e86bdddbfa1a31b085979ff30}
 {:rdf/about _6bb3728dc2116ddd05481bfca3271b62, :xsd/maxInclusive -1}
 #:rdf{:about _678eeb8a00e3027dbeed2425abaf8468,
       :rest :rdf/nil,
       :first _cf36a9236bcad8d1f559d60aadadef0d}
 #:rdf{:about _a08b044bdf8d453c1ad2dd0aabef05fb,
       :rest _c271ea21e885158f05e82ad60f2d2164,
       :first _6d59c05d14f8b192754e351fa730e4ed}
 {:rdf/about _58905e61458472f436f1ce31ef8c26d7,
  :xsd/pattern
  "-?INF|NaN|[+-]?(([0-9]+[.]?[0-9]*)|([0-9]*[.]?[0-9]+))([eE][-+]?[0-9]+)?"}
 {:rdf/about :xsd/duration,
  :owl/withRestrictions _9c34ad3b1d6a5ab86258ef9b5bb456ab,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "duration",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _59704fc2f17a35e540e659f94c0fa383,
       :rest :rdf/nil,
       :first _06c2e5fae90b0255c7bf6c6e2a8d9dad}
 {:rdf/about _cf36a9236bcad8d1f559d60aadadef0d,
  :xsd/pattern
  "-?INF|NaN|[+-]?(([0-9]+[.]?[0-9]*)|([0-9]*[.]?[0-9]+))([eE][-+]?[0-9]+)?"}
 #:rdf{:about _f8d4db5e55889e4e3240d512aec7bd18,
       :rest :rdf/nil,
       :first _27843d432771b39b4a92c0e7a4a5198f}
 {:rdf/about _2f1c44ad8c6e2095e560626589a10e2d, :xsd/fractionDigits 0}
 #:rdf{:about _8a006e05595619fdcd2df165623f8b51,
       :rest :rdf/nil,
       :first _6bb3728dc2116ddd05481bfca3271b62}
 {:rdf/about _87da696961dfb2a96a05cf5785dce2d9, :xsd/minInclusive 1}
 {:rdf/about _bd896cba1bfb5100f09498ca2db9b4ae,
  :xsd/pattern
  "-?[0-9][0-9][0-9][0-9][0-9]*-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])(Z|[-+][0-2][0-9]:[0-5][0-9])?"}
 {:rdf/about :xsd/double,
  :owl/withRestrictions _0496b029aeb998ea18d8ce09e7c16e6d,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "double",
  :rdfs/comment "IEEE double-precision 64-bit floating point.",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _f4d6c1a123d15860c3e6e3490751cfc8,
       :rest :rdf/nil,
       :first _34e7477a29d6bfa9ea6f248208b66ee2}
 {:rdf/about _c1b8593bfdee9e89dde58e70cc032e7a,
  :xsd/pattern "([0-9A-Fa-f][0-9A-Fa-f])*"}
 {:rdf/about :xsd/unsignedLong,
  :owl/withRestrictions _59704fc2f17a35e540e659f94c0fa383,
  :owl/onDatatype :xsd/nonNegativeInteger,
  :rdfs/label "unsigned long",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _00da53526f3f6dc555283b8057e475ef,
       :rest _33a2fa277786c7bdefdc377ae668f5c7,
       :first _2930b90fe62ff8d956a58f90fce28008}
 {:rdf/about _67af4a3b292e7f8583b800f82924c50b,
  :xsd/pattern
  "(([A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/] *)*(([A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/])|([A-Za-z0-9+/] *[A-Za-z0-9+/] *[AEIMQUYcgkosw048] *=)|([A-Za-z0-9+/] *[AQgw] *= *=)))?"}
 {:rdf/about :xsd/string,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "string",
  :rdfs/comment "A character string.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _9282981d2eb679e42480b905257fdf6f, :xsd/minInclusive 0}
 {:rdf/about :xsd/base64Binary,
  :owl/withRestrictions _5d90fd3d36ada095f77aee33e86a3db7,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "base64 binary",
  :rdfs/comment "Base64-encoded arbitrary binary data.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/integer,
  :owl/withRestrictions _00da53526f3f6dc555283b8057e475ef,
  :owl/onDatatype :xsd/decimal,
  :rdfs/label "integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _b622c23763c2195453477450acabbbee,
  :xsd/maxInclusive 65535}
 {:rdf/about _27d2a852a09ce5c5cc289e9f54d92a1c,
  :xsd/pattern
  "-?INF|NaN|[+-]?(([0-9]+[.]?[0-9]*)|([0-9]*[.]?[0-9]+))([eE][-+]?[0-9]+)?"}
 #:rdf{:about _085f97b3e0ad91b7bac7f2334c1a1fee,
       :rest _11acec4721e82b6d7725f58706250ac5,
       :first _6e63c6da333965b87113296955462313}
 {:rdf/about :xsd/hexBinary,
  :owl/withRestrictions _0528cd5f4a18b4d211a5f77817eb112f,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "hex binary",
  :rdfs/comment "Hex-encoded arbitrary binary data.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/float,
  :owl/withRestrictions _1893834439aabddab57f74fc2c8716b3,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "float",
  :rdfs/comment "IEEE single-precision 32-bit floating point.",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _88aeae6777dcc95b70b3e4a97c5fa409,
       :rest :rdf/nil,
       :first _bd26a833f855c67fb864daa592be868f}
 {:rdf/about :xsd/short,
  :owl/withRestrictions _881be12e33b18fde50a09bbc41b6c3b1,
  :owl/onDatatype :xsd/int,
  :rdfs/label "short",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _34e7477a29d6bfa9ea6f248208b66ee2,
  :xsd/whiteSpace "collapse"}
 {:rdf/about :xsd/date,
  :owl/withRestrictions _124928d9888fb63580963b8cac16be4b,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "date",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _c11c427afd9a6323f35cd676b06e4b2d,
       :rest :rdf/nil,
       :first _8bc46abfdedc4e1f9d3799d9ece8249b}
 {:rdf/about _9c97fe5a25cc1edc29d1efcc3063e69e,
  :xsd/pattern "[+]?[0-9]+"}
 #:rdf{:about _8f527df67f24e5d93bc38cbfbe457639,
       :rest :rdf/nil,
       :first _9282981d2eb679e42480b905257fdf6f}
 {:rdf/about _22299855084f7eef7998716a412b010a,
  :xsd/maxInclusive 4294967295}
 {:rdf/about :xsd/time,
  :owl/withRestrictions _ad51a8a41f4d27609dc545ee98993fe7,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "time",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _6d63394fed9e63be8916a823132877bb,
  :xsd/pattern
  "(([0-1][0-9])|(2[0-4])):[0-5][0-9]:[0-5][0-9](.[0-9]+)?(Z|[-+][0-2][0-9]:[0-5][0-9])?"}
 {:rdf/about :xsd/minExclusive,
  :rdfs/label "min exclusive",
  :rdfs/comment "The exclusive lower bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :xsd/unsignedInt,
  :owl/withRestrictions _7667e5dd13723a4bf3b11a63a6781008,
  :owl/onDatatype :xsd/unsignedLong,
  :rdfs/label "unsigned int",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _120ba18cb82bbb2067e88cb26af19885,
  :xsd/pattern
  "[a-zA-Z][a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?(-[a-zA-Z0-9][a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?)*"}
 {:rdf/about :xsd/token,
  :owl/onDatatype :xsd/normalizedString,
  :rdfs/label "token",
  :rdfs/comment
  "The set of strings that do not contain the carriage return (#xD), line feed (#xA) nor tab (#x9) characters, that have no leading or trailing spaces (#x20) and that have no internal sequences of two or more spaces.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _6d59c05d14f8b192754e351fa730e4ed, :xsd/maxInclusive 127}
 #:rdf{:about _760c8f9527d762916aab8fd275671a2e,
       :rest _99a27355d28acec15567f1ae0e6895b1,
       :first _14b19a5e3b82dc4f6c78fcadbecfce18}
 #:rdf{:about _881be12e33b18fde50a09bbc41b6c3b1,
       :rest _f6acc61f821cdcdc30cb48a42eb7d760,
       :first _4fcfa564e8fccd01f438c73484310578}
 #:rdf{:about _1c4efbf2a1186a2bb11bc1638ac57c46,
       :rest :rdf/nil,
       :first _120ba18cb82bbb2067e88cb26af19885}
 {:rdf/about _4947b43f7a8f8ee0598e9fb4be114ee5,
  :xsd/maxInclusive 2147483647}
 {:rdf/about :xsd/anySimpleType,
  :rdfs/label "any simple type",
  :rdfs/comment "The base class of any primitive XSD dataype.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _8bc46abfdedc4e1f9d3799d9ece8249b,
  :xsd/pattern
  "-?[0-9][0-9][0-9][0-9][0-9]*-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([0-1][0-9])|(2[0-4])):[0-5][0-9]:[0-5][0-9](.[0-9]+)?(Z|[-+][0-2][0-9]:[0-5][0-9])?"}
 #:rdf{:about _11acec4721e82b6d7725f58706250ac5,
       :rest :rdf/nil,
       :first _d7cd0352d0eeeb3642dc8a1b4ef80a87}
 {:rdf/about :xsd/byte,
  :owl/withRestrictions _a08b044bdf8d453c1ad2dd0aabef05fb,
  :owl/onDatatype :xsd/short,
  :rdfs/label "byte",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/fractionDigits,
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/label "fraction digits",
  :rdfs/comment
  "The total number of digits to the right of the decimal point required to represent a value.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :xsd/normalizedString,
  :owl/onDatatype :xsd/string,
  :rdfs/label "normalized string",
  :rdfs/comment
  "The set of strings that do not contain the carriage return (#xD), line feed (#xA) nor tab (#x9) characters.",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _0496b029aeb998ea18d8ce09e7c16e6d,
       :rest :rdf/nil,
       :first _27d2a852a09ce5c5cc289e9f54d92a1c}
 {:rdf/about _9f68dba3be8972384498af988b894b2b,
  :xsd/minInclusive -2147483648}
 #:rdf{:about _ad51a8a41f4d27609dc545ee98993fe7,
       :rest :rdf/nil,
       :first _6d63394fed9e63be8916a823132877bb}
 #:rdf{:about _7667e5dd13723a4bf3b11a63a6781008,
       :rest :rdf/nil,
       :first _22299855084f7eef7998716a412b010a}
 {:rdf/about :xsd/maxInclusive,
  :rdfs/label "max inclusive",
  :rdfs/comment "The inclusive upper bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 #:rdf{:about _0528cd5f4a18b4d211a5f77817eb112f,
       :rest :rdf/nil,
       :first _c1b8593bfdee9e89dde58e70cc032e7a}
 #:rdf{:about _124928d9888fb63580963b8cac16be4b,
       :rest :rdf/nil,
       :first _bd896cba1bfb5100f09498ca2db9b4ae}
 #:rdf{:about _db1e792749ba07a77c049426cbdf4952,
       :rest :rdf/nil,
       :first _b622c23763c2195453477450acabbbee}
 {:rdf/about _27843d432771b39b4a92c0e7a4a5198f, :xsd/maxInclusive 255}
 #:rdf{:about _f6acc61f821cdcdc30cb48a42eb7d760,
       :rest :rdf/nil,
       :first _39ac78fc9d5a300f163fac7edd38e7b4}
 {:rdf/about :xsd/decimal,
  :owl/withRestrictions _678eeb8a00e3027dbeed2425abaf8468,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "decimal",
  :rdfs/comment
  "A subset of the real numbers, which can be represented by decimal numerals.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _d7cd0352d0eeeb3642dc8a1b4ef80a87,
  :xsd/minInclusive -9223372036854775808}
 #:rdf{:about _e8a5f915a1a6666e4a00acb6cbb6a42a,
       :rest :rdf/nil,
       :first _87da696961dfb2a96a05cf5785dce2d9}
 #:rdf{:about _33a2fa277786c7bdefdc377ae668f5c7,
       :rest :rdf/nil,
       :first _2f1c44ad8c6e2095e560626589a10e2d}
 {:rdf/about _da8c3f9e86bdddbfa1a31b085979ff30,
  :xsd/pattern "(preserve|replace|collapse)"}
 {:rdf/about :xsd/pattern,
  :rdfs/label "pattern",
  :rdfs/comment
  "A regular expression that matches complete valid literals.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 #:rdf{:about _937d3d27986faad8bb9045a53417b832,
       :rest :rdf/nil,
       :first _9f68dba3be8972384498af988b894b2b}
 {:rdf/about :xsd/int,
  :owl/withRestrictions _418e4aa1fa62f806969fa5ca00f6a47b,
  :owl/onDatatype :xsd/long,
  :rdfs/label "int",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _f2091417d58670ba1519ec957d87a6fa, :xsd/minInclusive -128}
 {:rdf/about "http://www.w3.org/2001/XMLSchema#",
  :rdfs/comment "XML Schema Datatypes",
  :rdf/type :owl/Ontology}
 {:rdf/about _71e0be3f0b783c4641a751325f3b8188,
  :owl/withRestrictions _efdf4f20440ba0011f2d88e6f1ae23de,
  :owl/onDatatype :xsd/string,
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/anyURI,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "any URI",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _9c34ad3b1d6a5ab86258ef9b5bb456ab,
       :rest _88aeae6777dcc95b70b3e4a97c5fa409,
       :first _79032e4c942ee82db0df719f2d86d88c}
 {:rdf/about _c44b00127329f1905ae475dd672ec646,
  :xsd/pattern "(true|false|0|1)"}
 #:rdf{:about _99a27355d28acec15567f1ae0e6895b1,
       :rest :rdf/nil,
       :first _71b00ca59cb7d8b7c24a3aa1a6bc74fd}
 {:rdf/about _c10146b0e22a7773332b01573e381413,
  :xsd/pattern "[+]?[0-9]*[1-9]+[0-9]*"}
 #:rdf{:about _5d90fd3d36ada095f77aee33e86a3db7,
       :rest :rdf/nil,
       :first _67af4a3b292e7f8583b800f82924c50b}
 #:rdf{:about _6c8c55568eb9345aabb7cffdf2e46d83,
       :rest _8f527df67f24e5d93bc38cbfbe457639,
       :first _9c97fe5a25cc1edc29d1efcc3063e69e}
 {:rdf/about _06c2e5fae90b0255c7bf6c6e2a8d9dad,
  :xsd/maxInclusive 18446744073709551615}
 #:rdf{:about _8ad5b0476b8257ec82fa2f94d6879cc7,
       :rest :rdf/nil,
       :first _c44b00127329f1905ae475dd672ec646}
 {:rdf/about :xsd/unsignedByte,
  :owl/withRestrictions _f8d4db5e55889e4e3240d512aec7bd18,
  :owl/onDatatype :xsd/unsignedShort,
  :rdfs/label "unsigned byte",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/whiteSpace,
  :rdfs/range _71e0be3f0b783c4641a751325f3b8188,
  :rdfs/label "white space",
  :rdfs/comment
  "A string that describes whitespace normalization for a string type.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 #:rdf{:about _c271ea21e885158f05e82ad60f2d2164,
       :rest :rdf/nil,
       :first _f2091417d58670ba1519ec957d87a6fa}
 {:rdf/about :xsd/long,
  :owl/withRestrictions _085f97b3e0ad91b7bac7f2334c1a1fee,
  :owl/onDatatype :xsd/integer,
  :rdfs/label "long",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about _1893834439aabddab57f74fc2c8716b3,
       :rest _f4d6c1a123d15860c3e6e3490751cfc8,
       :first _58905e61458472f436f1ce31ef8c26d7}
 {:rdf/about :xsd/nonNegativeInteger,
  :owl/withRestrictions _6c8c55568eb9345aabb7cffdf2e46d83,
  :owl/onDatatype :xsd/integer,
  :rdfs/label "non-negative integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/negativeInteger,
  :owl/withRestrictions _8a006e05595619fdcd2df165623f8b51,
  :owl/onDatatype :xsd/nonPositiveInteger,
  :rdfs/label "negative integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _71b00ca59cb7d8b7c24a3aa1a6bc74fd, :xsd/maxInclusive 0}
 {:rdf/about :xsd/dateTime,
  :owl/withRestrictions _c11c427afd9a6323f35cd676b06e4b2d,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "date time",
  :rdf/type :rdfs/Datatype}
 {:rdf/about _6e63c6da333965b87113296955462313,
  :xsd/maxInclusive 9223372036854775807}
 {:rdf/about _4fcfa564e8fccd01f438c73484310578,
  :xsd/maxInclusive 32767}
 {:rdf/about _2930b90fe62ff8d956a58f90fce28008,
  :xsd/pattern "[-+]?[0-9]+"}
 {:rdf/about :xsd/maxExclusive,
  :rdfs/label "max exclusive",
  :rdfs/comment "The exclusive upper bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _39ac78fc9d5a300f163fac7edd38e7b4,
  :xsd/minInclusive -32768}
 {:rdf/about :xsd/boolean,
  :owl/withRestrictions _8ad5b0476b8257ec82fa2f94d6879cc7,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "boolean",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/minInclusive,
  :rdfs/label "min inclusive",
  :rdfs/comment "The inclusive lower bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about _14b19a5e3b82dc4f6c78fcadbecfce18,
  :xsd/pattern "(0|-[0-9]+)"}]
