^#:rdf{:ns-prefix-map
       {"xsd" "http://www.w3.org/2001/XMLSchema#",
        "rdfs" "http://www.w3.org/2000/01/rdf-schema#",
        "owl" "http://www.w3.org/2002/07/owl#",
        "rdf" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}}
[#:rdf{:about #:rdf{:blank "15846368060b5dc6f20ab1e8f8eb0b29"},
       :rest :rdf/nil,
       :first #:rdf{:blank "f2619ff18706d7f049c2e264773559b5"}}
 #:rdf{:about #:rdf{:blank "93887695190086d2ba1c7a39fa853b5d"},
       :rest #:rdf{:blank "cf34895d11ec1c84aba92ee6b2281811"},
       :first #:rdf{:blank "a2f843caadde105ad6a9310ee87154f6"}}
 {:rdf/about :xsd/unsignedShort,
  :owl/withRestrictions
  #:rdf{:blank "0231824ae5d3ac1fb9e8279445eea842"},
  :owl/onDatatype :xsd/unsignedInt,
  :rdfs/label "unsigned short",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "f3efcb69c8a268301f5294eff3be338e"},
       :rest :rdf/nil,
       :first #:rdf{:blank "3dc9e87caef245c7b0d659263b7cbe7e"}}
 #:rdf{:about #:rdf{:blank "321167fae2422fcb2338d88036843fbe"},
       :rest :rdf/nil,
       :first #:rdf{:blank "615329b985f4b8f88ef67e3f871bc0bb"}}
 {:rdf/about #:rdf{:blank "3dc9e87caef245c7b0d659263b7cbe7e"},
  :xsd/pattern
  "-?[0-9][0-9][0-9][0-9][0-9]*-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([0-1][0-9])|(2[0-4])):[0-5][0-9]:[0-5][0-9](.[0-9]+)?(Z|[-+][0-2][0-9]:[0-5][0-9])?"}
 {:rdf/about :xsd/nonPositiveInteger,
  :owl/withRestrictions
  #:rdf{:blank "c6cbdea4d6670928368ae38fdcc89715"},
  :owl/onDatatype :xsd/integer,
  :rdfs/label "non-positive integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "276624376e7477fa9ce6c441647be907"},
  :xsd/pattern "(0|-[0-9]+)"}
 {:rdf/about #:rdf{:blank "e18700d534f15b24448d4abbc083e60f"},
  :xsd/maxInclusive 9223372036854775807}
 #:rdf{:about #:rdf{:blank "9b0c97603ec316a7ef428019e6c5b240"},
       :rest :rdf/nil,
       :first #:rdf{:blank "7ba932282f86b3d7196d01e8461e42ec"}}
 {:rdf/about :xsd/language,
  :owl/withRestrictions
  #:rdf{:blank "25d00401291db7bc5b5fd95ecda2abf9"},
  :owl/onDatatype :xsd/token,
  :rdfs/label "language",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/positiveInteger,
  :owl/withRestrictions
  #:rdf{:blank "7a54c093f39742039d92c1c5b8e3116b"},
  :owl/onDatatype :xsd/nonNegativeInteger,
  :rdfs/label "positive integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "6203856efbbad575c10f328bec195083"},
  :xsd/fractionDigits 0}
 #:rdf{:about #:rdf{:blank "0231824ae5d3ac1fb9e8279445eea842"},
       :rest :rdf/nil,
       :first #:rdf{:blank "1095006c02b17d8be9063877003af631"}}
 #:rdf{:about #:rdf{:blank "a449efc086688eb6a241040c4c90f760"},
       :rest :rdf/nil,
       :first #:rdf{:blank "1db2f7f1057d9bd001d0e630abf12b9c"}}
 #:rdf{:about #:rdf{:blank "4171427f2f4b40317654807c8027f45d"},
       :rest :rdf/nil,
       :first #:rdf{:blank "69bc9079981646b54d47f28beae72615"}}
 {:rdf/about #:rdf{:blank "a716b432cb97571c617e0c22135decc7"},
  :xsd/minInclusive -32768}
 {:rdf/about :xsd/duration,
  :owl/withRestrictions
  #:rdf{:blank "66c413d7f67c5f8590ee6db2a6816791"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "duration",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "e0c810c29a6cb8146f43df92558085dd"},
       :rest :rdf/nil,
       :first #:rdf{:blank "1304aa99803e3e1dafd0383239ce52fb"}}
 {:rdf/about #:rdf{:blank "43ce8e6d967bf55e2ea198853be5b737"},
  :xsd/pattern
  "(([A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/] *)*(([A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/] *[A-Za-z0-9+/])|([A-Za-z0-9+/] *[A-Za-z0-9+/] *[AEIMQUYcgkosw048] *=)|([A-Za-z0-9+/] *[AQgw] *= *=)))?"}
 {:rdf/about #:rdf{:blank "7ba932282f86b3d7196d01e8461e42ec"},
  :xsd/pattern
  "-?INF|NaN|[+-]?(([0-9]+[.]?[0-9]*)|([0-9]*[.]?[0-9]+))([eE][-+]?[0-9]+)?"}
 #:rdf{:about #:rdf{:blank "cf34895d11ec1c84aba92ee6b2281811"},
       :rest :rdf/nil,
       :first #:rdf{:blank "de54b994cf9ca10de06e349efb2fe99a"}}
 {:rdf/about #:rdf{:blank "f2619ff18706d7f049c2e264773559b5"},
  :xsd/pattern
  "-?[0-9][0-9][0-9][0-9][0-9]*-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])(Z|[-+][0-2][0-9]:[0-5][0-9])?"}
 {:rdf/about #:rdf{:blank "ff5d3521c5f5f69bdacb52bf918f6ddb"},
  :xsd/minInclusive -128}
 {:rdf/about :xsd/double,
  :owl/withRestrictions
  #:rdf{:blank "9b0c97603ec316a7ef428019e6c5b240"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "double",
  :rdfs/comment "IEEE double-precision 64-bit floating point.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "8762822173426c8d3aaf29b8603eab1e"},
  :xsd/maxInclusive 127}
 {:rdf/about :xsd/unsignedLong,
  :owl/withRestrictions
  #:rdf{:blank "2753e86405008a1f7fcae3134359e55c"},
  :owl/onDatatype :xsd/nonNegativeInteger,
  :rdfs/label "unsigned long",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "f8c1b0e461f6c35a3fa575d1be019106"},
       :rest #:rdf{:blank "671cef14d5783d277d4ad50461955954"},
       :first #:rdf{:blank "8762822173426c8d3aaf29b8603eab1e"}}
 {:rdf/about :xsd/string,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "string",
  :rdfs/comment "A character string.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "7a345c0e2117a788819ecb2c3ec1a7bf"},
  :xsd/pattern
  "[a-zA-Z][a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?[a-zA-Z]?(-[a-zA-Z0-9][a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?[a-zA-Z0-9]?)*"}
 #:rdf{:about #:rdf{:blank "427b9117fe54bdf495716c676aff299e"},
       :rest :rdf/nil,
       :first #:rdf{:blank "95d17cc349dfb99e04055a6235517a27"}}
 {:rdf/about :xsd/base64Binary,
  :owl/withRestrictions
  #:rdf{:blank "8e3e03c7cf2d06445d0df1376453ecc2"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "base64 binary",
  :rdfs/comment "Base64-encoded arbitrary binary data.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/integer,
  :owl/withRestrictions
  #:rdf{:blank "1bbb1e1dc3086eea18490e7b4664b065"},
  :owl/onDatatype :xsd/decimal,
  :rdfs/label "integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "1b5bdf5dd03e87a2c77f2120e496d122"},
  :xsd/whiteSpace "collapse"}
 #:rdf{:about #:rdf{:blank "22515c570bd6d0cfff8d62e4922d253e"},
       :rest #:rdf{:blank "4f7bb4b625935634ec266a5776fbe28e"},
       :first #:rdf{:blank "e18700d534f15b24448d4abbc083e60f"}}
 {:rdf/about #:rdf{:blank "de54b994cf9ca10de06e349efb2fe99a"},
  :xsd/minInclusive 0}
 {:rdf/about :xsd/hexBinary,
  :owl/withRestrictions
  #:rdf{:blank "d431bfdfb1270b6923bd858b788d98da"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "hex binary",
  :rdfs/comment "Hex-encoded arbitrary binary data.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/float,
  :owl/withRestrictions
  #:rdf{:blank "54f132ff09f8980d18572d4b55653926"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "float",
  :rdfs/comment "IEEE single-precision 32-bit floating point.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/short,
  :owl/withRestrictions
  #:rdf{:blank "3ad598dabe83b766ed4471e8f653ff26"},
  :owl/onDatatype :xsd/int,
  :rdfs/label "short",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/date,
  :owl/withRestrictions
  #:rdf{:blank "15846368060b5dc6f20ab1e8f8eb0b29"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "date",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "2753e86405008a1f7fcae3134359e55c"},
       :rest :rdf/nil,
       :first #:rdf{:blank "e364f3f45a1f0a2cec693004d0655184"}}
 {:rdf/about #:rdf{:blank "69bc9079981646b54d47f28beae72615"},
  :xsd/maxInclusive -1}
 #:rdf{:about #:rdf{:blank "1bbb1e1dc3086eea18490e7b4664b065"},
       :rest #:rdf{:blank "2a64c98106d54659c566d797f7a90e4a"},
       :first #:rdf{:blank "99106c820156f2a5182b5b87e35ff6a0"}}
 {:rdf/about :xsd/time,
  :owl/withRestrictions
  #:rdf{:blank "f4a31f61a2b548c5e01234a6ac3bcaf8"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "time",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "35fcbe0fdf3808086554be334445df89"},
       :rest :rdf/nil,
       :first #:rdf{:blank "a716b432cb97571c617e0c22135decc7"}}
 {:rdf/about :xsd/minExclusive,
  :rdfs/label "min exclusive",
  :rdfs/comment "The exclusive lower bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :xsd/unsignedInt,
  :owl/withRestrictions
  #:rdf{:blank "321167fae2422fcb2338d88036843fbe"},
  :owl/onDatatype :xsd/unsignedLong,
  :rdfs/label "unsigned int",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "4725e07f3806db89094785f5a088ae75"},
  :xsd/whiteSpace "collapse"}
 {:rdf/about :xsd/token,
  :owl/onDatatype :xsd/normalizedString,
  :rdfs/label "token",
  :rdfs/comment
  "The set of strings that do not contain the carriage return (#xD), line feed (#xA) nor tab (#x9) characters, that have no leading or trailing spaces (#x20) and that have no internal sequences of two or more spaces.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "2eafdd8911dbda249d44337db928bfce"},
  :xsd/pattern
  "(([0-1][0-9])|(2[0-4])):[0-5][0-9]:[0-5][0-9](.[0-9]+)?(Z|[-+][0-2][0-9]:[0-5][0-9])?"}
 {:rdf/about :xsd/anySimpleType,
  :rdfs/label "any simple type",
  :rdfs/comment "The base class of any primitive XSD dataype.",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "86d55aa7026509d7014b00b9170874e6"},
       :rest :rdf/nil,
       :first #:rdf{:blank "1b5bdf5dd03e87a2c77f2120e496d122"}}
 #:rdf{:about #:rdf{:blank "522184f059037f5de3b3e929d75d1cfa"},
       :rest :rdf/nil,
       :first #:rdf{:blank "df8bbfccfb7858fa8ec7492cf0394cef"}}
 #:rdf{:about #:rdf{:blank "d431bfdfb1270b6923bd858b788d98da"},
       :rest :rdf/nil,
       :first #:rdf{:blank "27d436aef62f9f3c58635db4cca27ef1"}}
 #:rdf{:about #:rdf{:blank "7a54c093f39742039d92c1c5b8e3116b"},
       :rest #:rdf{:blank "a449efc086688eb6a241040c4c90f760"},
       :first #:rdf{:blank "89ef28a38bdba59fa56c0aff3de9b378"}}
 {:rdf/about :xsd/byte,
  :owl/withRestrictions
  #:rdf{:blank "f8c1b0e461f6c35a3fa575d1be019106"},
  :owl/onDatatype :xsd/short,
  :rdfs/label "byte",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/fractionDigits,
  :rdfs/range :xsd/nonNegativeInteger,
  :rdfs/label "fraction digits",
  :rdfs/comment
  "The total number of digits to the right of the decimal point required to represent a value.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :xsd/normalizedString,
  :owl/onDatatype :xsd/string,
  :rdfs/label "normalized string",
  :rdfs/comment
  "The set of strings that do not contain the carriage return (#xD), line feed (#xA) nor tab (#x9) characters.",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "49ada4eb6b45de76a88a06ebc1d22717"},
  :xsd/pattern "(true|false|0|1)"}
 #:rdf{:about #:rdf{:blank "68280deb2ff91c91da6eed2b5825b6a1"},
       :rest :rdf/nil,
       :first #:rdf{:blank "4725e07f3806db89094785f5a088ae75"}}
 {:rdf/about :xsd/maxInclusive,
  :rdfs/label "max inclusive",
  :rdfs/comment "The inclusive upper bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about #:rdf{:blank "e364f3f45a1f0a2cec693004d0655184"},
  :xsd/maxInclusive 18446744073709551615}
 {:rdf/about #:rdf{:blank "95d17cc349dfb99e04055a6235517a27"},
  :xsd/maxInclusive 0}
 #:rdf{:about #:rdf{:blank "f4a31f61a2b548c5e01234a6ac3bcaf8"},
       :rest :rdf/nil,
       :first #:rdf{:blank "2eafdd8911dbda249d44337db928bfce"}}
 {:rdf/about #:rdf{:blank "0aba4b2e5b050b4ec8a8f969b435d346"},
  :xsd/pattern
  "-?P([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+(\\.[0-9]+)?S)?)?"}
 #:rdf{:about #:rdf{:blank "25d00401291db7bc5b5fd95ecda2abf9"},
       :rest :rdf/nil,
       :first #:rdf{:blank "7a345c0e2117a788819ecb2c3ec1a7bf"}}
 {:rdf/about #:rdf{:blank "532874aa500770103f313fd12ace831f"},
  :xsd/maxInclusive 2147483647}
 #:rdf{:about #:rdf{:blank "139c4f9279a1a67c615556db95e3a58b"},
       :rest :rdf/nil,
       :first #:rdf{:blank "5e4c85d7b95cdb7226ec5ce2d67177d5"}}
 {:rdf/about #:rdf{:blank "89ef28a38bdba59fa56c0aff3de9b378"},
  :xsd/pattern "[+]?[0-9]*[1-9]+[0-9]*"}
 #:rdf{:about #:rdf{:blank "66c413d7f67c5f8590ee6db2a6816791"},
       :rest #:rdf{:blank "86d55aa7026509d7014b00b9170874e6"},
       :first #:rdf{:blank "0aba4b2e5b050b4ec8a8f969b435d346"}}
 #:rdf{:about #:rdf{:blank "8e3e03c7cf2d06445d0df1376453ecc2"},
       :rest :rdf/nil,
       :first #:rdf{:blank "43ce8e6d967bf55e2ea198853be5b737"}}
 {:rdf/about #:rdf{:blank "628be2defc5f5b13617a2af1e1f963dd"},
  :xsd/minInclusive -9223372036854775808}
 #:rdf{:about #:rdf{:blank "3ad598dabe83b766ed4471e8f653ff26"},
       :rest #:rdf{:blank "35fcbe0fdf3808086554be334445df89"},
       :first #:rdf{:blank "48a94bc1903ed3386db03a40df8a6db3"}}
 {:rdf/about #:rdf{:blank "1095006c02b17d8be9063877003af631"},
  :xsd/maxInclusive 65535}
 {:rdf/about #:rdf{:blank "1304aa99803e3e1dafd0383239ce52fb"},
  :xsd/pattern "(preserve|replace|collapse)"}
 {:rdf/about :xsd/decimal,
  :owl/withRestrictions
  #:rdf{:blank "139c4f9279a1a67c615556db95e3a58b"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "decimal",
  :rdfs/comment
  "A subset of the real numbers, which can be represented by decimal numerals.",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "ed5173a59a9fe4bd3393ae63cdbba729"},
       :rest :rdf/nil,
       :first #:rdf{:blank "e83d12f55208fd33ae28e93ac18df0cd"}}
 {:rdf/about #:rdf{:blank "99106c820156f2a5182b5b87e35ff6a0"},
  :xsd/pattern "[-+]?[0-9]+"}
 #:rdf{:about #:rdf{:blank "54f132ff09f8980d18572d4b55653926"},
       :rest #:rdf{:blank "68280deb2ff91c91da6eed2b5825b6a1"},
       :first #:rdf{:blank "1896747842f3fc07b6df8b86e5d18d8a"}}
 {:rdf/about :xsd/pattern,
  :rdfs/label "pattern",
  :rdfs/comment
  "A regular expression that matches complete valid literals.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about #:rdf{:blank "27d436aef62f9f3c58635db4cca27ef1"},
  :xsd/pattern "([0-9A-Fa-f][0-9A-Fa-f])*"}
 #:rdf{:about #:rdf{:blank "671cef14d5783d277d4ad50461955954"},
       :rest :rdf/nil,
       :first #:rdf{:blank "ff5d3521c5f5f69bdacb52bf918f6ddb"}}
 {:rdf/about #:rdf{:blank "e83d12f55208fd33ae28e93ac18df0cd"},
  :xsd/minInclusive -2147483648}
 {:rdf/about :xsd/int,
  :owl/withRestrictions
  #:rdf{:blank "ba46d7072604989968cbc3a6e0d87c4d"},
  :owl/onDatatype :xsd/long,
  :rdfs/label "int",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "a2f843caadde105ad6a9310ee87154f6"},
  :xsd/pattern "[+]?[0-9]+"}
 {:rdf/about #:rdf{:uri "http://www.w3.org/2001/XMLSchema#"},
  :rdfs/comment "XML Schema Datatypes",
  :rdf/type :owl/Ontology}
 {:rdf/about #:rdf{:blank "5e4c85d7b95cdb7226ec5ce2d67177d5"},
  :xsd/pattern
  "-?INF|NaN|[+-]?(([0-9]+[.]?[0-9]*)|([0-9]*[.]?[0-9]+))([eE][-+]?[0-9]+)?"}
 {:rdf/about :xsd/anyURI,
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "any URI",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "1db2f7f1057d9bd001d0e630abf12b9c"},
  :xsd/minInclusive 1}
 #:rdf{:about #:rdf{:blank "2a64c98106d54659c566d797f7a90e4a"},
       :rest :rdf/nil,
       :first #:rdf{:blank "6203856efbbad575c10f328bec195083"}}
 {:rdf/about #:rdf{:blank "644ca37f8bcb5c937ddd8e63a5b5a390"},
  :owl/withRestrictions
  #:rdf{:blank "e0c810c29a6cb8146f43df92558085dd"},
  :owl/onDatatype :xsd/string,
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "c6cbdea4d6670928368ae38fdcc89715"},
       :rest #:rdf{:blank "427b9117fe54bdf495716c676aff299e"},
       :first #:rdf{:blank "276624376e7477fa9ce6c441647be907"}}
 #:rdf{:about #:rdf{:blank "4f7bb4b625935634ec266a5776fbe28e"},
       :rest :rdf/nil,
       :first #:rdf{:blank "628be2defc5f5b13617a2af1e1f963dd"}}
 #:rdf{:about #:rdf{:blank "acab7cf0e13dedda5ab8c01544aa4962"},
       :rest :rdf/nil,
       :first #:rdf{:blank "49ada4eb6b45de76a88a06ebc1d22717"}}
 {:rdf/about #:rdf{:blank "615329b985f4b8f88ef67e3f871bc0bb"},
  :xsd/maxInclusive 4294967295}
 {:rdf/about #:rdf{:blank "48a94bc1903ed3386db03a40df8a6db3"},
  :xsd/maxInclusive 32767}
 {:rdf/about :xsd/unsignedByte,
  :owl/withRestrictions
  #:rdf{:blank "522184f059037f5de3b3e929d75d1cfa"},
  :owl/onDatatype :xsd/unsignedShort,
  :rdfs/label "unsigned byte",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/whiteSpace,
  :rdfs/range #:rdf{:blank "644ca37f8bcb5c937ddd8e63a5b5a390"},
  :rdfs/label "white space",
  :rdfs/comment
  "A string that describes whitespace normalization for a string type.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :xsd/long,
  :owl/withRestrictions
  #:rdf{:blank "22515c570bd6d0cfff8d62e4922d253e"},
  :owl/onDatatype :xsd/integer,
  :rdfs/label "long",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/nonNegativeInteger,
  :owl/withRestrictions
  #:rdf{:blank "93887695190086d2ba1c7a39fa853b5d"},
  :owl/onDatatype :xsd/integer,
  :rdfs/label "non-negative integer",
  :rdf/type :rdfs/Datatype}
 #:rdf{:about #:rdf{:blank "ba46d7072604989968cbc3a6e0d87c4d"},
       :rest #:rdf{:blank "ed5173a59a9fe4bd3393ae63cdbba729"},
       :first #:rdf{:blank "532874aa500770103f313fd12ace831f"}}
 {:rdf/about :xsd/negativeInteger,
  :owl/withRestrictions
  #:rdf{:blank "4171427f2f4b40317654807c8027f45d"},
  :owl/onDatatype :xsd/nonPositiveInteger,
  :rdfs/label "negative integer",
  :rdf/type :rdfs/Datatype}
 {:rdf/about #:rdf{:blank "df8bbfccfb7858fa8ec7492cf0394cef"},
  :xsd/maxInclusive 255}
 {:rdf/about :xsd/dateTime,
  :owl/withRestrictions
  #:rdf{:blank "f3efcb69c8a268301f5294eff3be338e"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "date time",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/maxExclusive,
  :rdfs/label "max exclusive",
  :rdfs/comment "The exclusive upper bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about :xsd/boolean,
  :owl/withRestrictions
  #:rdf{:blank "acab7cf0e13dedda5ab8c01544aa4962"},
  :owl/onDatatype :xsd/anySimpleType,
  :rdfs/label "boolean",
  :rdf/type :rdfs/Datatype}
 {:rdf/about :xsd/minInclusive,
  :rdfs/label "min inclusive",
  :rdfs/comment "The inclusive lower bound of an ordered datatype.",
  :rdf/type [:owl/DatatypeProperty :rdf/Property]}
 {:rdf/about #:rdf{:blank "1896747842f3fc07b6df8b86e5d18d8a"},
  :xsd/pattern
  "-?INF|NaN|[+-]?(([0-9]+[.]?[0-9]*)|([0-9]*[.]?[0-9]+))([eE][-+]?[0-9]+)?"}]
